	  <div class="tab_content about_block" id="tab-1">
		<ul class="subtab_select">
		  <li>{{# linkTo about.snapshot }}Snapshot{{/linkTo}}</li>
		  <li>{{# linkTo about.details }}Details{{/linkTo}}</li>
		</ul>
        {{outlet}}
	  </div>
