<!-- friends_block -->
<div class="mob_tab_trigger">Sitter Friends</div>
<div class="tab_content friends_block" id="tab-3">
  <ul class="clear">
    {{debugger}}
    {{# each friends }}
      test1
      {{# if isSitter}}
        test2
        {{ partial sitterSearch }}
      {{/ if}}
    {{/ each}}
  </ul>
</div>
<!-- /friends_block -->
