<div class="container clear">
  <div class="wraper">

	<!-- stat_bar -->
	<div class="stat_bar clear" id="fixed_tabs">
	  <p><span class="icon_check2">&nbsp;</span>Background Cleared</p>
	  <ul>
		<li><span class="icon_pin6">&nbsp;</span>New York, NY</li>
		<li><span class="icon_dollar2">&nbsp;</span>from $15 /hr</li>
		<li><span class="icon_review2">&nbsp;</span>11 reviews</li>
		<li><span class="icon_friends8">&nbsp;</span>24 sitter friends</li>
	  </ul>
	</div>
	<!-- /stat_bar -->

	<!-- tabs_wrap -->
	<div class="tabs_wrap">
	  <ul class="tab_select">
		<li><a href="#tab-1">About</a></li>
		<li><a href="#tab-2">Reviews</a></li>
		<li><a href="#tab-3">Sitter Friends</a></li>
	  </ul>

	  <!-- about_block -->
	  <div class="tab_content about_block" id="tab-1">
		<ul class="subtab_select">
		  <li><a href="#tab-1-1">Snapshot</a></li>
		  <li><a href="#tab-1-2">Details</a></li>
		</ul>
		<!-- snapshot_block -->
		<div class="subtab_content snapshot_block" id="tab-1-1">
		  <p>Need to know</p>
		  <ul class="clear">
			<li><span class="icon_certification">&nbsp;</span><strong>Studying</strong> at <strong>Hoboken Nursing School</strong></li>
			<li><span class="icon_education">&nbsp;</span>Graduated <strong>college</strong></li>
			<li><span class="icon_pin2">&nbsp;</span>Located in <strong>New York, NY</strong></li>
			<li><span class="icon_certification2">&nbsp;</span><strong>CPR</strong> and <strong>First Aid</strong> certified</li>
			<li><span class="icon_age">&nbsp;</span><strong>25</strong> years old</li>
			<li><span class="icon_other">&nbsp;</span>Will do <strong>light housekeeping</strong></li>
			<li><span class="icon_transportation">&nbsp;</span>Has <strong>current driver’s license</strong></li>
			<li><span class="icon_rates">&nbsp;</span><strong>$15/hr - $20/hr</strong> standard rates</li>
			<li><span class="icon_experience">&nbsp;</span><strong>6 years</strong> of experience with kids</li>
		  </ul>
		</div>
		<!-- /snapshot_block -->
		<!-- about_details_block -->
		<div class="mob_tab_trigger active">About</div>
		<div class="subtab_content about_details_block" id="tab-1-2">
		  <ul>
			<li>
			  <ul>
				<li><span class="icon_pin4">&nbsp;</span>Location</li>
				<li>
				  <p><span>Lives in</span>New York, NY</p>
				  <p><span>Will work within</span>10-11</p>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_age2">&nbsp;</span>Age</li>
				<li>
				  <p>25</p>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_smoker2">&nbsp;</span>Smoker</li>
				<li>
				  <p><img src="/static/images/icons/no.png" alt="" /> <strong>No</strong></p>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_transportation2">&nbsp;</span>Transportation</li>
				<li>
				  <p>I am willing to transport children to and from events, activities, school, or appointments.</p>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_experience2">&nbsp;</span>General Experience</li>
				<li>
				  <p><span>Total years of experience</span>4 Years</p>
				  <p><span>Experience with Infants</span>1-2 years</p>
				  <p><span>Experience with Toddlers</span>1-2 years</p>
				  <p><span>Experience with Preschoolers</span>1-2 years</p>
				  <p><span>Experience with School Age</span>1-2 years</p>
				  <p><span>Experience with Pre Teens</span>No Experience</p>
				  <p><span>Experience with Teenagers</span>No Experience</p>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_education3">&nbsp;</span>Education</li>
				<li>
				  <p><span>Education Level</span>Advanced Degree</p>
				  <p><span>Last School Attended</span>Bank Street College of Education</p>
				  <p><span>Currently</span>Attending school</p>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_certification3">&nbsp;</span>Certifications</li>
				<li>
				  <p>Current Infant/Child CPR Certification, Teacher License</p>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_availability2">&nbsp;</span>General Availability</li>
				<li>
				  <p>Regular, part-time, Occasional sitting</p>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_other2">&nbsp;</span>Other Services</li>
				<li>
				  <p>Homework Assistance/Tutoring, Grocery Shopping</p>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_rates2">&nbsp;</span>Standard Rates</li>
				<li>
				  <p><span>Standard rates for one child</span>Min Rate: <strong>$20</strong> /hr &nbsp;  Max Rate: <strong>$25</strong> /hr </p>
				  <p><span>Standard rates for two children</span>Min Rate: <strong>$20</strong> /hr &nbsp;  Max Rate: <strong>$25</strong> /hr </p>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_preferences2">&nbsp;</span>Job Preferences</li>
				<li>
				  <p><span>Will you babysit in the home of smokers</span><img src="/static/images/icons/yes.png" alt="" /> <strong>Yes</strong></p>
				  <p><span>Will you babysit in a home with dogs</span><img src="/static/images/icons/no.png" alt="" /> <strong>No</strong></p>
				  <p><span>Will you babysit in a home with cats</span><img src="/static/images/icons/yes.png" alt="" /> <strong>Yes</strong></p>
				  <p><span>Will you babysit in a home that has other animals</span><img src="/static/images/icons/no.png" alt="" /> <strong>No</strong></p>
				</li>
			  </ul>
			</li>
		  </ul>
		</div>
		<!-- /about_details_block -->
	  </div>
	  <!-- /about_block -->

	  <!-- reviews_block -->
	  <div class="mob_tab_trigger">Reviews</div>
	  <div class="tab_content reviews_block" id="tab-2">
		<div class="reco clear"><a href="#recommend_popup"><span class="icon_team2">&nbsp;</span>RECOMMEND ELLEN</a></div>
		<ul class="clear">
		  <li>
			<a href="#"><img src="/static/images/demo/img11.jpg" alt="" /></a>
			<div class="desc">
			  <p><a href="#">Marcie Silk</a></p>
			  <div class="reco_btn"><span class="icon_ok">&nbsp;</span>Recommends</div>
			  <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. </p>
			  <p>Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet.</p>
			</div>
		  </li>
		  <li>
			<a href="#"><img src="/static/images/demo/img12.jpg" alt="" /></a>
			<div class="desc">
			  <p><a href="#">Otis Devin</a></p>
			  <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. </p>
			</div>
		  </li>
		</ul>
	  </div>
	  <!-- /reviews_block -->

	  <!-- friends_block -->
	  <div class="mob_tab_trigger">Sitter Friends</div>
	  <div class="tab_content friends_block" id="tab-3">
		<ul class="clear">
		  <li>
			<div class="bookmark"></div>
			<div class="tit">
			  <span><strong>$15</strong> /hr</span>
			  <a href="#">Ellen Vukelich</a>
			</div>
			<div class="img">
			  <div class="heart"></div>
			  <a href="#"><img src="/static/images/demo/img13.jpg" alt="" /></a>
			  <span>Background Cleared</span>
			</div>
			<ul>
			  <li><span class="icon_friends3">&nbsp;</span>5 mutual friends
			  <ul>
				<li>Friends you have in common</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_recommend2">&nbsp;</span>4 recommends
			  <ul>
				<li>Recommendations</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_team3">&nbsp;</span>9 sitter teams
			  <ul>
				<li>Added to sitter teams and repeatedly hired</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_reviews">&nbsp;</span>11 reviews
			  <ul>
				<li class="rev clear">
				  <a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a>
				  <div>
					<p>Ellen has been a sitter for my children fore more than a year and I couldn’t be happier! She arrives on time and my kids light up when they see her!</p>
					<p><a href="#">Read more reviews </a></p>
				  </div>
				</li>
			  </ul>
			  </li>
			</ul>
			<div class="btns clear">
			  <a class="button" href="#">BOOK</a><a class="button button2" href="#">INTERVIEW</a>
			  <p><a href="#">ADD TO SITTER TEAM</a></p>
			  <p><a href="#">BOOKMARK</a></p>
			</div>
		  </li>
		  <li>
			<div class="bookmark"></div>
			<div class="tit">
			  <span><strong>$15</strong> /hr</span>
			  <a href="#">Ellen Vukelich</a>
			</div>
			<div class="img">
			  <div class="heart"></div>
			  <a href="#"><img src="/static/images/demo/img13.jpg" alt="" /></a>
			  <span>Background Cleared</span>
			</div>
			<ul>
			  <li><span class="icon_friends3">&nbsp;</span>5 mutual friends
			  <ul>
				<li>Friends you have in common</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_recommend2">&nbsp;</span>4 recommends
			  <ul>
				<li>Recommendations</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_team3">&nbsp;</span>9 sitter teams
			  <ul>
				<li>Added to sitter teams and repeatedly hired</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_reviews">&nbsp;</span>11 reviews
			  <ul>
				<li class="rev clear">
				  <a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a>
				  <div>
					<p>Ellen has been a sitter for my children fore more than a year and I couldn’t be happier! She arrives on time and my kids light up when they see her!</p>
					<p><a href="#">Read more reviews </a></p>
				  </div>
				</li>
			  </ul>
			  </li>
			</ul>
			<div class="btns clear">
			  <a class="button" href="#">BOOK</a><a class="button button2" href="#">INTERVIEW</a>
			  <p><a href="#">ADD TO SITTER TEAM</a></p>
			  <p><a href="#">BOOKMARK</a></p>
			</div>
		  </li>
		  <li>
			<div class="bookmark"></div>
			<div class="tit">
			  <span><strong>$15</strong> /hr</span>
			  <a href="#">Ellen Vukelich</a>
			</div>
			<div class="img">
			  <div class="heart"></div>
			  <a href="#"><img src="/static/images/demo/img13.jpg" alt="" /></a>
			  <span>Background Cleared</span>
			</div>
			<ul>
			  <li><span class="icon_friends3">&nbsp;</span>5 mutual friends
			  <ul>
				<li>Friends you have in common</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_recommend2">&nbsp;</span>4 recommends
			  <ul>
				<li>Recommendations</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_team3">&nbsp;</span>9 sitter teams
			  <ul>
				<li>Added to sitter teams and repeatedly hired</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_reviews">&nbsp;</span>11 reviews
			  <ul>
				<li class="rev clear">
				  <a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a>
				  <div>
					<p>Ellen has been a sitter for my children fore more than a year and I couldn’t be happier! She arrives on time and my kids light up when they see her!</p>
					<p><a href="#">Read more reviews </a></p>
				  </div>
				</li>
			  </ul>
			  </li>
			</ul>
			<div class="btns clear">
			  <a class="button" href="#">BOOK</a><a class="button button2" href="#">INTERVIEW</a>
			  <p><a href="#">ADD TO SITTER TEAM</a></p>
			  <p><a href="#">BOOKMARK</a></p>
			</div>
		  </li>
		  <li>
			<div class="bookmark"></div>
			<div class="tit">
			  <span><strong>$15</strong> /hr</span>
			  <a href="#">Ellen Vukelich</a>
			</div>
			<div class="img">
			  <div class="heart"></div>
			  <a href="#"><img src="/static/images/demo/img13.jpg" alt="" /></a>
			  <span>Background Cleared</span>
			</div>
			<ul>
			  <li><span class="icon_friends3">&nbsp;</span>5 mutual friends
			  <ul>
				<li>Friends you have in common</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_recommend2">&nbsp;</span>4 recommends
			  <ul>
				<li>Recommendations</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_team3">&nbsp;</span>9 sitter teams
			  <ul>
				<li>Added to sitter teams and repeatedly hired</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_reviews">&nbsp;</span>11 reviews
			  <ul>
				<li class="rev clear">
				  <a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a>
				  <div>
					<p>Ellen has been a sitter for my children fore more than a year and I couldn’t be happier! She arrives on time and my kids light up when they see her!</p>
					<p><a href="#">Read more reviews </a></p>
				  </div>
				</li>
			  </ul>
			  </li>
			</ul>
			<div class="btns clear">
			  <a class="button" href="#">BOOK</a><a class="button button2" href="#">INTERVIEW</a>
			  <p><a href="#">ADD TO SITTER TEAM</a></p>
			  <p><a href="#">BOOKMARK</a></p>
			</div>
		  </li>
		  <li>
			<div class="bookmark"></div>
			<div class="tit">
			  <span><strong>$15</strong> /hr</span>
			  <a href="#">Ellen Vukelich</a>
			</div>
			<div class="img">
			  <div class="heart"></div>
			  <a href="#"><img src="/static/images/demo/img13.jpg" alt="" /></a>
			  <span>Background Cleared</span>
			</div>
			<ul>
			  <li><span class="icon_friends3">&nbsp;</span>5 mutual friends
			  <ul>
				<li>Friends you have in common</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_recommend2">&nbsp;</span>4 recommends
			  <ul>
				<li>Recommendations</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_team3">&nbsp;</span>9 sitter teams
			  <ul>
				<li>Added to sitter teams and repeatedly hired</li>
				<li><a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				<li><a href="#"><img src="/static/images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
			  </ul>
			  </li>
			  <li><span class="icon_reviews">&nbsp;</span>11 reviews
			  <ul>
				<li class="rev clear">
				  <a href="#"><img src="/static/images/demo/img3.jpg" alt="" /></a>
				  <div>
					<p>Ellen has been a sitter for my children fore more than a year and I couldn’t be happier! She arrives on time and my kids light up when they see her!</p>
					<p><a href="#">Read more reviews </a></p>
				  </div>
				</li>
			  </ul>
			  </li>
			</ul>
			<div class="btns clear">
			  <a class="button" href="#">BOOK</a><a class="button button2" href="#">INTERVIEW</a>
			  <p><a href="#">ADD TO SITTER TEAM</a></p>
			  <p><a href="#">BOOKMARK</a></p>
			</div>
		  </li>
		</ul>
	  </div>
	  <!-- /friends_block -->

	</div>
	<!-- /tabs_wrap -->

  </div>
</div>