<!-- friends_block -->
{{# view Sitterfied.MobTriggerView }} Sitter Friends {{/ view}}
<div class="tab_content friends_block" id="tab-3">
  <ul class="clear">
    {{# each friends }}
      test1
      {{# if isSitter}}
        test2
        {{ partial sitterSearch }}
      {{/ if}}
    {{/ each}}
  </ul>
</div>
<!-- /friends_block -->
