# Edit the options in this file to match your projects environment.
# See http://ask.github.com/celery/cookbook/daemonizing.html for the complete
# documentation on the options.

# WARNING: This script is only designed to run the worker(s) for a single
# project. If you need to start workers for multiple projects you should
# consider using supervisor.
# Examples can be found in /usr/share/doc/python-celery/supervisord/

ENABLED="{{ celery_enabled }}"
CELERY_CREATE_DIRS=1

CELERYD_NODES="{{ celery_nodes }}"

CELERYD_CHDIR="{{ celery_chdir }}"

CELERYD_OPTS="{{ celery_opts }}"

{% if celery_app is defined %}
CELERY_APP="{{ celery_app }}"
{% endif %}

CELERYD_PID_FILE="{{ celery_pid_file }}"

CELERYD_LOG_FILE="{{ celery_log_file }}"
CELERYD_LOG_LEVEL="{{ celery_log_level }}"

CELERYD_MULTI="{{ celery_multi }}"
CELERYCTL="{{ celery_celeryctl }}"

CELERYD_USER="{{ celery_user }}"
CELERYD_GROUP="{{ celery_group }}"

{% if celery_django_settings_module is defined %}
export DJANGO_SETTINGS_MODULE="{{ celery_django_settings_module }}"
{% endif %}
