<div class="top_info clear">
  <div class="member_since">{{memberSince}}</div>
  <div class="photo">
	<div class="photo_edit_wrap">
	  <img {{bindAttr src=avatarUrl}} alt="" />
	  {{# view Sitterfied.photoPopupView }}
        <span class="icon_pen">&nbsp;</span>
        <a>Edit Photo</a>
      {{/ view }}
	</div>
  </div>
  <div class="ranking_info">
	<p>{{full_name}}</p>
    {{!--
	<p>Ranking: <span>14th</span> of 137</p>
    --}}
	{{#linkTo sitter this class="db_button"}}<span class="icon_eye">&nbsp;</span>VIEW PROFILE{{/linkTo}}
	<fieldset>
	  <legend>Here are some simple ways to improve your experience:</legend>
	  <ul class="clear">
		<li><li>{{#linkTo sitterEdit.network content }}Add more connections{{/linkTo}}</li>
		<li>{{#linkTo mybookings}}Accept more booking requests{{/linkTo}}</li>
		{{!--<li><a href="#">Get more recommendations</a></li>--}}
	  </ul>
	</fieldset>
  </div>
</div>
<!-- /top info -->
<!-- profile_completion -->
{{# view Sitterfied.FixedView class="profile_completion clear" id="fixed_tabs" }}
  <p>Your profile is <span>ACTIVE</span> but incomplete</p>
  <div><span>&nbsp;</span></div>
  <p>Fill in the gaps below so parents can see how great you are!</p>
{{/ view}}
<!-- /profile_completion -->