<!-- container -->
<div class="container clear">
  <div class="wraper">

	<!-- tabs_wrap -->
	<div class="tabs_wrap">
	  <ul class="tab_select">
		<li>{{#linkTo sitterEdit.profile }}Profile{{/linkTo}}</li>
		<li>{{#linkTo sitterEdit.schedlue }}Schedule{{/linkTo}}</li>
		<li>{{#linkTo sitterEdit.bookings }}Bookings{{/linkTo}}</li>
		<li>{{#linkTo sitterEdit.network }}Network{{/linkTo}}</li>
		<li>{{#linkTo sitterEdit.reviews }}Reviews{{/linkTo}}</li>
	  </ul>


      {{outlet}}

	</div>
	<!-- /tabs_wrap -->

  </div>
</div>
<!-- /container -->