	  <!-- network_block -->
	  <div class="mob_tab_trigger">Network</div>
	  <div class="tab_content network_block" id="tab-4">
		<div class="soc_list clear">
		  <p>Find people you know on Sitterfied</p>
		  <ul>
			<li>
			  <p class="clear"><a href="#"><img src="/static/images/icons/facebook.png" alt="" />Facebook</a><a href="#"><img src="/static/images/icons/gmail.png" alt="" />Gmail</a></p>
			  <p>Connect</p>
			</li>
			<li>
			  <p><input type="text" value="Search a person or group" /><input type="submit" value="ADD" /></p>
			  <p>Search</p>
			</li>
			<li>
			  <p><a href="#">Invite Your Friends</a></p>
			  <p>Invite</p>
			</li>
		  </ul>
		</div>
		<ul class="soc_psg_list clear">
		  <li>
			<ul>
			  <li>Parents</li>
              {{# each parents_in_network}}
		        <li>{{#linkTo parent this}}<img src="images/demo/img15.jpg" alt="" />{{full_name}}{{/linkTo}}</li>
              {{/each}}
			</ul>
		  </li>
		  <li>
			<ul>
			  <li>Sitters</li>
              {{# each sitter_in_network}}
		        <li>{{#linkTo sitter this}}<img src="images/demo/img15.jpg" alt="" />{{full_name}}{{/linkTo}}</li>
              {{/each}}
			</ul>
		  </li>
		  <li>
			<ul>
			  <li>Groups</li>
              {{# each sitter_groups}}
		        <li>{{#linkTo }}<img src="images/demo/img15.jpg" alt="" />{{name}}{{/linkTo}}</li><a {{action deleteGroup this}} class="delete">&nbsp;</a>
              {{/each}}
			</ul>
		  </li>
		</ul>
	  </div>
	  <!-- /network_block -->
