<!-- container -->
<div class="container clear">
  <div class="wraper">

	<!-- tabs_wrap -->
	<div class="tabs_wrap">
	  <ul class="tab_select">
		<li><a href="#tab-1">Profile</a></li>
		<li><a href="#tab-2">Schedule</a></li>
		<li><a href="#tab-3">Bookings</a></li>
		<li><a href="#tab-4">Network</a></li>
		<li><a href="#tab-5">Reviews</a></li>
	  </ul>

	  <!-- profile_block -->
	  <div class="mob_tab_trigger active">Profile</div>
	  <div class="tab_content profile_block" id="tab-1">
		<form method="post" action="#" class="form_style">
		  <ul>
			<li>
			  <ul>
				<li><span class="icon_bio2">&nbsp;</span>Biography</li>
				<li>
				  <p><i class="char">1100 CHAR</i><textarea></textarea></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_gender2">&nbsp;</span>Gender</li>
				<li>
				  <p><input type="checkbox" id="female" name="gender" /><label for="female">Female</label> <input type="checkbox" id="male" name="gender" /><label for="male">Male</label></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_pin4">&nbsp;</span>Home Address</li>
				<li>
				  <p><input type="text" value="Street address" /> <input type="text" value="Apt/Suite" class="small" /></p>
				  <p><input type="text" value="Zip Code" class="small" /> <select data-placeholder="Hoboken" tabindex="1"><option>Hoboken</option><option>Hoboken</option></select> <select class="small" data-placeholder="NJ" tabindex="2"><option>NJ</option><option>NJ</option></select></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_iphone2">&nbsp;</span>Cell Phone Number</li>
				<li>
				  <p><input type="text" value="(123)" class="small" /> <input type="text" value="456-7890" /></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_email3">&nbsp;</span>Email Address</li>
				<li>
				  <p><input type="text" value="" /></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_age2">&nbsp;</span>Age</li>
				<li>
				  <p><span class="short">DATE OF BIRTH</span> <select data-placeholder="MONTH" tabindex="3"><option>MONTH</option><option>MONTH</option></select> <select data-placeholder="DAY" tabindex="4"><option>DAY</option><option>DAY</option></select> <select data-placeholder="YEAR" tabindex="5"><option>YEAR</option><option>YEAR</option></select></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_smoker2">&nbsp;</span>Smoker</li>
				<li>
				  <p><input type="checkbox" id="yes" name="smoker" /><label for="yes">YES</label> <input type="checkbox" id="no" name="smoker" /><label for="no">NO</label></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_sick2">&nbsp;</span>Sick Kids</li>
				<li>
				  <p><span>willing to care for sick kids?</span><input type="checkbox" id="yes2" name="sick" /><label for="yes2">YES</label> <input type="checkbox" id="no2" name="sick" /><label for="no2">NO</label></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_transportation2">&nbsp;</span>Transportation</li>
				<li>
				  <p><span>distance willing to travel:</span><select data-placeholder="" tabindex="6"><option>text</option><option>text</option></select></p>
				  <p><span>have a current driver’s license?</span><select data-placeholder="" tabindex="7"><option>text</option><option>text</option></select> <input type="checkbox" id="no3" /><label for="no3">NO</label></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_experience2">&nbsp;</span>General Experience</li>
				<li>
				  <p><span>TOTAL years of experience:</span><select data-placeholder="" tabindex="8"><option>text</option><option>text</option></select></p>
				  <p><span>Experience with infants:</span><select data-placeholder="" tabindex="9"><option>text</option><option>text</option></select></p>
				  <p><span>Experience with toddlers:</span><select data-placeholder="" tabindex="10"><option>text</option><option>text</option></select></p>
				  <p><span>Experience with preschoolers:</span><select data-placeholder="" tabindex="11"><option>text</option><option>text</option></select></p>
				  <p><span>Experience with School age:</span><select data-placeholder="" tabindex="12"><option>text</option><option>text</option></select></p>
				  <p><span>Experience with Pre Teens:</span><select data-placeholder="" tabindex="13"><option>text</option><option>text</option></select></p>
				  <p><span>Experience with teenagers:</span><select data-placeholder="" tabindex="14"><option>text</option><option>text</option></select></p>
				  <p><span>Experience with special needs?</span><select multiple data-placeholder="Choose all that apply" tabindex="15"><option>text</option><option>text</option></select> <input type="checkbox" id="no4" /><label for="no4">NO</label></p>
				  <p><span>add another (if not listed above):</span><input type="text" /><a class="button button_smaller button_edit" href="#"><span class="icon_plus">&nbsp;</span>ADD</a></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_education3">&nbsp;</span>Education Level</li>
				<li>
				  <p><span>Education level:</span><select data-placeholder="" tabindex="16"><option>text</option><option>text</option></select></p>
				  <p><span>last school attended:</span><select data-placeholder="" tabindex="17"><option>text</option><option>text</option></select></p>
				  <p><span>add school (if not listed above):</span><input type="text" /><a class="button button_smaller button_edit" href="#"><span class="icon_plus">&nbsp;</span>ADD</a></p>
				  <p><span>Still in school?</span><input type="checkbox" id="yes3" name="edu" /><label for="yes3">YES</label> <input type="checkbox" id="no5" name="edu" /><label for="no5">NO</label></p>
				  <p><span>Major (if yes):</span><input type="text" /></p>
				  <p><span>occupation (if no):</span><input type="text" /></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_certification3">&nbsp;</span>Certification or Training</li>
				<li>
				  <p><span>&nbsp;</span><select multiple data-placeholder="Choose all that apply" tabindex="18"><option>text</option><option>text</option></select> <input type="checkbox" id="none" /><label for="none">NONE</label></p>
				  <p><span>add another (if not listed above):</span><input type="text" /><a class="button button_smaller button_edit" href="#"><span class="icon_plus">&nbsp;</span>ADD</a></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_rates2">&nbsp;</span>Standard Rates</li>
				<li>
				  <p><span>MInimum for 1 child:</span><select data-placeholder="" tabindex="19"><option>text</option><option>text</option></select></p>
				  <p><span>Maximum for 1 child:</span><select data-placeholder="" tabindex="20"><option>text</option><option>text</option></select></p>
				  <p><span>MInimum for 2 children:</span><select data-placeholder="" tabindex="21"><option>text</option><option>text</option></select></p>
				  <p><span>Maximum for 2 children:</span><select data-placeholder="" tabindex="22"><option>text</option><option>text</option></select></p>
				  <p><span>Minimum for 3 or more children</span><select data-placeholder="" tabindex="23"><option>text</option><option>text</option></select></p>
				  <p><span>Maximum for 3 or more children</span><select data-placeholder="" tabindex="24"><option>text</option><option>text</option></select></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_lng2">&nbsp;</span>Languages</li>
				<li>
				  <p><span>I speak:</span><select multiple data-placeholder="English" tabindex="25"><option>English</option><option>English</option></select></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_other2">&nbsp;</span>Other Services</li>
				<li>
				  <p><span>&nbsp;</span><select multiple data-placeholder="Choose all that apply" tabindex="26"><option>text</option><option>text</option></select> <input type="checkbox" id="none2" /><label for="none2">NONE</label></p>
				  <p><span>add another (if not listed above):</span><input type="text" /><a class="button button_smaller button_edit" href="#"><span class="icon_plus">&nbsp;</span>ADD</a></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
			<li>
			  <ul>
				<li><span class="icon_preferences2">&nbsp;</span>Job Preferences</li>
				<li class="long_headers">
				  <p><span>Will you babysit in a home of smokers?</span><input type="checkbox" id="yes4" name="pref" /><label for="yes4">YES</label> <input type="checkbox" id="no6" name="pref" /><label for="no6">NO</label></p>
				  <p><span>Will you babysit in a home with dogs?</span><input type="checkbox" id="yes5" name="pref2" /><label for="yes5">YES</label> <input type="checkbox" id="no7" name="pref2" /><label for="no7">NO</label></p>
				  <p><span>Will you babysit in a home with cats?</span><input type="checkbox" id="yes6" name="pref3" /><label for="yes6">YES</label> <input type="checkbox" id="no8" name="pref3" /><label for="no8">NO</label></p>
				  <p><span>Will you babysit in a home that has other animals?</span><input type="checkbox" id="yes7" name="pref4" /><label for="yes7">YES</label> <input type="checkbox" id="no9" name="pref4" /><label for="no9">NO</label></p>
				  <a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a>
				</li>
			  </ul>
			</li>
		  </ul>
		</form>
	  </div>
	  <!-- /profile_block -->

	  <!-- schedule_block -->
	  <div class="mob_tab_trigger">Schedule</div>
	  <div class="tab_content schedule_block" id="tab-2">
		<p>Please indicate your typical availability here. <span><img src="images/available.jpg" alt="" />Available <img src="images/unavailable.jpg" alt="" />Unavailable</span><a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a></p>
		<ul>
		  <li>
			<ul>
			  <li><a href="#">Check All</a> | <a href="#">Clear All</a></li>
			  <li>Sun</li>
			  <li>Mon</li>
			  <li>Tues</li>
			  <li>Wed</li>
			  <li>Thurs</li>
			  <li>Fri</li>
			  <li>Sat</li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Early Morning</strong> (6am - 9am)<span>6 - 9 AM</span></li>
			  <li><input type="checkbox" id="sun_1" /><label for="sun_1">&nbsp;</label></li>
			  <li><input type="checkbox" id="mon_1" /><label for="mon_1">&nbsp;</label></li>
			  <li><input type="checkbox" id="tues_1" /><label for="tues_1">&nbsp;</label></li>
			  <li><input type="checkbox" id="wed_1" /><label for="wed_1">&nbsp;</label></li>
			  <li><input type="checkbox" id="thurs_1" /><label for="thurs_1">&nbsp;</label></li>
			  <li><input type="checkbox" id="fri_1" /><label for="fri_1">&nbsp;</label></li>
			  <li><input type="checkbox" id="sat_1" /><label for="sat_1">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Late Morning</strong> (9am - 12pm)<span>9 - 12 PM</span></li>
			  <li><input type="checkbox" id="sun_2" /><label for="sun_2">&nbsp;</label></li>
			  <li><input type="checkbox" id="mon_2" /><label for="mon_2">&nbsp;</label></li>
			  <li><input type="checkbox" id="tues_2" /><label for="tues_2">&nbsp;</label></li>
			  <li><input type="checkbox" id="wed_2" /><label for="wed_2">&nbsp;</label></li>
			  <li><input type="checkbox" id="thurs_2" /><label for="thurs_2">&nbsp;</label></li>
			  <li><input type="checkbox" id="fri_2" /><label for="fri_2">&nbsp;</label></li>
			  <li><input type="checkbox" id="sat_2" /><label for="sat_2">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Early Afternoon</strong> (12pm - 3pm)<span>12 - 3 PM</span></li>
			  <li><input type="checkbox" id="sun_3" /><label for="sun_3">&nbsp;</label></li>
			  <li><input type="checkbox" id="mon_3" /><label for="mon_3">&nbsp;</label></li>
			  <li><input type="checkbox" id="tues_3" /><label for="tues_3">&nbsp;</label></li>
			  <li><input type="checkbox" id="wed_3" /><label for="wed_3">&nbsp;</label></li>
			  <li><input type="checkbox" id="thurs_3" /><label for="thurs_3">&nbsp;</label></li>
			  <li><input type="checkbox" id="fri_3" /><label for="fri_3">&nbsp;</label></li>
			  <li><input type="checkbox" id="sat_3" /><label for="sat_3">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Late Afternoon</strong> (3pm - 6pm)<span>3 - 6 PM</span></li>
			  <li><input type="checkbox" id="sun_4" /><label for="sun_4">&nbsp;</label></li>
			  <li><input type="checkbox" id="mon_4" /><label for="mon_4">&nbsp;</label></li>
			  <li><input type="checkbox" id="tues_4" /><label for="tues_4">&nbsp;</label></li>
			  <li><input type="checkbox" id="wed_4" /><label for="wed_4">&nbsp;</label></li>
			  <li><input type="checkbox" id="thurs_4" /><label for="thurs_4">&nbsp;</label></li>
			  <li><input type="checkbox" id="fri_4" /><label for="fri_4">&nbsp;</label></li>
			  <li><input type="checkbox" id="sat_4" /><label for="sat_4">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Early Evening</strong> (6pm - 9pm)<span>6 - 9 PM</span></li>
			  <li><input type="checkbox" id="sun_5" /><label for="sun_5">&nbsp;</label></li>
			  <li><input type="checkbox" id="mon_5" /><label for="mon_5">&nbsp;</label></li>
			  <li><input type="checkbox" id="tues_5" /><label for="tues_5">&nbsp;</label></li>
			  <li><input type="checkbox" id="wed_5" /><label for="wed_5">&nbsp;</label></li>
			  <li><input type="checkbox" id="thurs_5" /><label for="thurs_5">&nbsp;</label></li>
			  <li><input type="checkbox" id="fri_5" /><label for="fri_5">&nbsp;</label></li>
			  <li><input type="checkbox" id="sat_5" /><label for="sat_5">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Late Evening</strong> (9pm - 12am)<span>9 - 12 AM</span></li>
			  <li><input type="checkbox" id="sun_6" /><label for="sun_6">&nbsp;</label></li>
			  <li><input type="checkbox" id="mon_6" /><label for="mon_6">&nbsp;</label></li>
			  <li><input type="checkbox" id="tues_6" /><label for="tues_6">&nbsp;</label></li>
			  <li><input type="checkbox" id="wed_6" /><label for="wed_6">&nbsp;</label></li>
			  <li><input type="checkbox" id="thurs_6" /><label for="thurs_6">&nbsp;</label></li>
			  <li><input type="checkbox" id="fri_6" /><label for="fri_6">&nbsp;</label></li>
			  <li><input type="checkbox" id="sat_6" /><label for="sat_6">&nbsp;</label></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li><strong>Overnight</strong> (12am - 6am)<span>12 - 6 AM</span></li>
			  <li><input type="checkbox" id="sun_7" /><label for="sun_7">&nbsp;</label></li>
			  <li><input type="checkbox" id="mon_7" /><label for="mon_7">&nbsp;</label></li>
			  <li><input type="checkbox" id="tues_7" /><label for="tues_7">&nbsp;</label></li>
			  <li><input type="checkbox" id="wed_7" /><label for="wed_7">&nbsp;</label></li>
			  <li><input type="checkbox" id="thurs_7" /><label for="thurs_7">&nbsp;</label></li>
			  <li><input type="checkbox" id="fri_7" /><label for="fri_7">&nbsp;</label></li>
			  <li><input type="checkbox" id="sat_7" /><label for="sat_7">&nbsp;</label></li>
			</ul>
		  </li>
		</ul>
		<div><a href="#">Check All</a> | <a href="#">Clear All</a><br /><a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Save</a></div>
	  </div>
	  <!-- /schedule_block -->

	  <!-- bookings_block -->
	  <div class="mob_tab_trigger">Bookings</div>
	  <div class="tab_content bookings_block" id="tab-3">
		<ul class="subtab_select">
		  <li><a href="#tab-1-1"><span>4</span>Pending Requests</a></li>
		  <li><a href="#tab-1-2"><span>3</span>Upcoming Jobs</a></li>
		  <li><a href="#tab-1-3"><span>7</span>Completed Jobs</a></li>
		  <li><a href="#tab-1-4"><span>12</span>Missed Requests</a></li>
		  <li><a href="#tab-1-5"><span>2</span>Expired Requests</a></li>
		  <li><a href="#tab-1-6"><span>3</span>Declined Jobs</a></li>
		  <li><a href="#tab-1-7"><span>2</span>Canceled Jobs</a></li>
		</ul>

		<div class="mob_tab_trigger active"><span>4</span>Pending Requests</div>
		<!-- pending_requests_block -->
		<div class="subtab_content pending_requests_block" id="tab-1-1">
		  <ul class="booking_list">
			<li>
			  <header>
				Request Sent: Friday 21 July 2012 at 4:40pm
				<span>Job</span>
			  </header>
			  <div class="img">
				<a href="#"><img src="images/demo/img16.jpg" alt="" /></a>
				<p><span><a href="#">Jane E</a></span></p>
				<div>
				  <a href="#">8 mutual friends</a>
				  <ul>
					<li>Friends you have in common</li>
					<li><a href="#"><img src="images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				  </ul>
				</div>
			  </div>
			  <div class="desc clear">
				<ul>
				  <li><span class="icon_date">&nbsp;</span>Wednesday, August 1 &nbsp; <span>4:00 pm — 6:00 pm</span></li>
				  <li><span class="icon_friends5">&nbsp;</span>2 Kids</li>
				  <li><span class="icon_pin3">&nbsp;</span>New York, NY</li>
				  <li>
					<p><a href="#">Need more info?<br />Email Jane.</a></p>
					<span class="icon_email2">&nbsp;</span><a href="mailto:jeyre@gmail.com">jeyre@gmail.com</a>
				  </li>
				</ul>
				<div class="price"><span><strong>$</strong><input type="text" value="25" />/hr</span><a class="edit_button" href="#">edit</a></div>
				<div class="btn_wrap"><a class="button button_smaller" href="#"><span class="icon_ok2">&nbsp;</span>ACCEPT</a><a class="button button_smaller button_cancel" href="#"><span class="icon_cancel">&nbsp;</span>DECLINE</a></div>
				<div class="note_wrap"><a href="#"><span class="show">Show</span><span class="hide">Hide</span> Note</a></div>
			  </div>
			  <div class="note_desc clear">
				<p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Quisque eget odio ac lectus vestibulum faucibus eget in metus. </p>
			  </div>
			  <footer>
				Request Sent: Friday 21 July 2012 at 4:40pm
			  </footer>
			</li>
			<li>
			  <header>
				Request Sent: Friday 21 July 2012 at 4:40pm
				<span>Job</span>
			  </header>
			  <div class="img">
				<a href="#"><img src="images/demo/img16.jpg" alt="" /></a>
				<p><span><a href="#">Jane E</a></span></p>
				<div>
				  <a href="#">8 mutual friends</a>
				  <ul>
					<li>Friends you have in common</li>
					<li><a href="#"><img src="images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				  </ul>
				</div>
			  </div>
			  <div class="desc clear">
				<ul>
				  <li><span class="icon_date">&nbsp;</span>Wednesday, August 1 &nbsp; <span>4:00 pm — 6:00 pm</span></li>
				  <li><span class="icon_friends5">&nbsp;</span>2 Kids</li>
				  <li><span class="icon_pin3">&nbsp;</span>New York, NY</li>
				  <li>
					<p><a href="#">Need more info?<br />Email Jane.</a></p>
					<span class="icon_email2">&nbsp;</span><a href="mailto:jeyre@gmail.com">jeyre@gmail.com</a>
				  </li>
				</ul>
				<div class="price"><span><strong>$</strong><input type="text" value="25" />/hr</span><a class="edit_button" href="#">edit</a></div>
				<div class="btn_wrap"><a class="button button_smaller" href="#"><span class="icon_ok2">&nbsp;</span>ACCEPT</a><a class="button button_smaller button_cancel" href="#"><span class="icon_cancel">&nbsp;</span>DECLINE</a></div>
				<div class="note_wrap"><a href="#"><span class="show">Show</span><span class="hide">Hide</span> Note</a></div>
			  </div>
			  <div class="note_desc clear">
				<p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Quisque eget odio ac lectus vestibulum faucibus eget in metus. </p>
			  </div>
			  <footer>
				Request Sent: Friday 21 July 2012 at 4:40pm
			  </footer>
			</li>
			<li>
			  <header>
				Request Sent: Friday 21 July 2012 at 4:40pm
				<span>Interview</span>
			  </header>
			  <div class="img">
				<a href="#"><img src="images/demo/img16.jpg" alt="" /></a>
				<p><span><a href="#">Jane E</a></span></p>
				<div>
				  <a href="#">8 mutual friends</a>
				  <ul>
					<li>Friends you have in common</li>
					<li><a href="#"><img src="images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				  </ul>
				</div>
			  </div>
			  <div class="desc clear">
				<ul>
				  <li><span class="icon_date">&nbsp;</span>Wednesday, August 1 &nbsp; <span>4:00 pm — 6:00 pm</span></li>
				  <li><span class="icon_friends5">&nbsp;</span>2 Kids</li>
				  <li><span class="icon_pin3">&nbsp;</span>New York, NY</li>
				  <li>
					<p><a href="#">Need more info?<br />Email Jane.</a></p>
					<span class="icon_email2">&nbsp;</span><a href="mailto:jeyre@gmail.com">jeyre@gmail.com</a>
				  </li>
				</ul>
				<div class="additional_info">Meet Up</div>
				<div class="btn_wrap"><a class="button button_smaller" href="#"><span class="icon_ok2">&nbsp;</span>ACCEPT</a><a class="button button_smaller button_cancel" href="#"><span class="icon_cancel">&nbsp;</span>DECLINE</a></div>
				<div class="note_wrap"><a href="#"><span class="show">Show</span><span class="hide">Hide</span> Note</a></div>
			  </div>
			  <div class="note_desc clear">
				<p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Quisque eget odio ac lectus vestibulum faucibus eget in metus. </p>
			  </div>
			  <footer>
				Request Sent: Friday 21 July 2012 at 4:40pm
			  </footer>
			</li>
			<li>
			  <header>
				Request Sent: Friday 21 July 2012 at 4:40pm
				<span>Interview</span>
			  </header>
			  <div class="img">
				<a href="#"><img src="images/demo/img16.jpg" alt="" /></a>
				<p><span><a href="#">Jane E</a></span></p>
				<div>
				  <a href="#">8 mutual friends</a>
				  <ul>
					<li>Friends you have in common</li>
					<li><a href="#"><img src="images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				  </ul>
				</div>
			  </div>
			  <div class="desc clear">
				<ul>
				  <li><span class="icon_date">&nbsp;</span>Wednesday, August 1 &nbsp; <span>4:00 pm — 6:00 pm</span></li>
				  <li><span class="icon_friends5">&nbsp;</span>2 Kids</li>
				  <li><span class="icon_pin3">&nbsp;</span>New York, NY</li>
				  <li>
					<p><a href="#">Need more info?<br />Email Jane.</a></p>
					<span class="icon_email2">&nbsp;</span><a href="mailto:jeyre@gmail.com">jeyre@gmail.com</a>
				  </li>
				</ul>
				<div class="additional_info">By Phone</div>
				<div class="btn_wrap"><a class="button button_smaller" href="#"><span class="icon_ok2">&nbsp;</span>ACCEPT</a><a class="button button_smaller button_cancel" href="#"><span class="icon_cancel">&nbsp;</span>DECLINE</a></div>
				<div class="note_wrap"><a href="#"><span class="show">Show</span><span class="hide">Hide</span> Note</a></div>
			  </div>
			  <div class="note_desc clear">
				<p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Quisque eget odio ac lectus vestibulum faucibus eget in metus. </p>
			  </div>
			  <footer>
				Request Sent: Friday 21 July 2012 at 4:40pm
			  </footer>
			</li>
		  </ul>
		</div>
		<!-- /pending_requests_block -->

		<div class="mob_tab_trigger"><span>3</span>Upcoming Jobs</div>
		<!-- upcoming_jobs_block -->
		<div class="subtab_content upcoming_jobs_block" id="tab-1-2">
		  <ul class="booking_list">
			<li>
			  <header>
				Request Sent: Friday 21 July 2012 at 4:40pm
				<span>Job</span>
			  </header>
			  <div class="img">
				<a href="#"><img src="images/demo/img16.jpg" alt="" /></a>
				<p><span><a href="#">Jane Eyre</a></span></p>
				<div>
				  <a href="#">8 mutual friends</a>
				  <ul>
					<li>Friends you have in common</li>
					<li><a href="#"><img src="images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				  </ul>
				</div>
			  </div>
			  <div class="desc clear">
				<ul>
				  <li><span class="icon_date">&nbsp;</span>Wednesday, August 1 &nbsp; <span>4:00 pm — 6:00 pm</span> <a href="#" class="rlink">Save to my calendar</a></li>
				  <li><span class="icon_phone">&nbsp;</span>(125) 898-6891</li>
				  <li><span class="icon_email2">&nbsp;</span><a href="mailto:jeyre@gmail.com">jeyre@gmail.com</a> <a href="#" class="rlink">Add to my contacts</a></li>
				  <li><span class="icon_pin3">&nbsp;</span>33 Nassau Ave Suite #2 New York, NY <a href="#" class="rlink">Map this</a></li>
				</ul>
				<div class="children"><span class="icon_friends5">&nbsp;</span>2 Kids</div>
				<div class="price"><span><strong>$25</strong> /hr</span></div>
				<div class="btn_wrap"><a class="button button_smaller button_cancel" href="#"><span class="icon_cancel">&nbsp;</span>CANCEL</a></div>
				<div class="note_wrap"><a href="#"><span class="show">Show</span><span class="hide">Hide</span> Notes</a></div>
			  </div>
			  <div class="note_desc clear">
				<p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Quisque eget odio ac lectus vestibulum faucibus eget in metus. </p>
			  </div>
			  <footer>
				Request Sent: Friday 21 July 2012 at 4:40pm
			  </footer>
			</li>
			<li>
			  <header>
				Request Sent: Friday 21 July 2012 at 4:40pm
				<span>Interview</span>
			  </header>
			  <div class="img">
				<a href="#"><img src="images/demo/img16.jpg" alt="" /></a>
				<p><span><a href="#">Jane Eyre</a></span></p>
				<div>
				  <a href="#">8 mutual friends</a>
				  <ul>
					<li>Friends you have in common</li>
					<li><a href="#"><img src="images/demo/img3.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img4.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img5.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img6.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img7.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img8.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img9.jpg" alt="" /></a><span>Andrea Barelli</span></li>
					<li><a href="#"><img src="images/demo/img10.jpg" alt="" /></a><span>Andrea Barelli</span></li>
				  </ul>
				</div>
			  </div>
			  <div class="desc clear">
				<ul>
				  <li><span class="icon_date">&nbsp;</span>Wednesday, August 1 &nbsp; <span>4:00 pm — 6:00 pm</span> <a href="#" class="rlink">Save to my calendar</a></li>
				  <li><span class="icon_phone">&nbsp;</span>(125) 898-6891</li>
				  <li><span class="icon_email2">&nbsp;</span><a href="mailto:jeyre@gmail.com">jeyre@gmail.com</a> <a href="#" class="rlink">Add to my contacts</a></li>
				  <li><span class="icon_pin3">&nbsp;</span>33 Nassau Ave Suite #2 New York, NY <a href="#" class="rlink">Map this</a></li>
				</ul>
				<div class="children"><span class="icon_friends5">&nbsp;</span>2 Kids</div>
				<div class="additional_info">Meet Up</div>
				<div class="btn_wrap"><a class="button button_smaller button_cancel" href="#"><span class="icon_cancel">&nbsp;</span>CANCEL</a></div>
				<div class="note_wrap"><a href="#"><span class="show">Show</span><span class="hide">Hide</span> Notes</a></div>
			  </div>
			  <div class="note_desc clear">
				<p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Quisque eget odio ac lectus vestibulum faucibus eget in metus. </p>
			  </div>
			  <footer>
				Request Sent: Friday 21 July 2012 at 4:40pm
			  </footer>
			</li>
		  </ul>
		</div>
		<!-- /upcoming_jobs_block -->

		<div class="mob_tab_trigger"><span>7</span>Completed Jobs</div>
		<!-- completed_jobs_block -->
		<div class="subtab_content completed_jobs_block" id="tab-1-3">
		  Completed Jobs
		</div>
		<!-- /completed_jobs_block -->

		<div class="mob_tab_trigger"><span>12</span>Missed Requests</div>
		<!-- missed_requests_block -->
		<div class="subtab_content missed_requests_block" id="tab-1-4">
		  Missed Requests
		</div>
		<!-- /missed_requests_block -->

		<div class="mob_tab_trigger"><span>2</span>Expired Requests</div>
		<!-- expired_requests_block -->
		<div class="subtab_content expired_requests_block" id="tab-1-5">
		  Expired Requests
		</div>
		<!-- /expired_requests_block -->

		<div class="mob_tab_trigger"><span>3</span>Declined Jobs</div>
		<!-- declined_jobs_block -->
		<div class="subtab_content declined_jobs_block" id="tab-1-6">
		  Declined Jobs
		</div>
		<!-- /declined_jobs_block -->

		<div class="mob_tab_trigger"><span>2</span>Canceled Jobs</div>
		<!-- canceled_jobs_block -->
		<div class="subtab_content canceled_jobs_block" id="tab-1-7">
		  Canceled Jobs
		</div>
		<!-- /canceled_jobs_block -->
	  </div>
	  <!-- /bookings_block -->

	  <!-- network_block -->
	  <div class="mob_tab_trigger">Network</div>
	  <div class="tab_content network_block" id="tab-4">
		<div class="soc_list clear">
		  <p>Find people you know on Sitterfied</p>
		  <ul>
			<li>
			  <p class="clear"><a href="#"><img src="images/icons/facebook.png" alt="" />Facebook</a><a href="#"><img src="images/icons/gmail.png" alt="" />Gmail</a></p>
			  <p>Connect</p>
			</li>
			<li>
			  <p><input type="text" value="Search a person or group" /><input type="submit" value="ADD" /></p>
			  <p>Search</p>
			</li>
			<li>
			  <p><a href="#">Invite Your Friends</a></p>
			  <p>Invite</p>
			</li>
		  </ul>
		</div>
		<ul class="soc_psg_list clear">
		  <li>
			<ul>
			  <li>Parents</li>
			  <li><a href="#"><img src="images/demo/img15.jpg" alt="" /></a><a href="#">Mika Pinna</a></li>
			  <li><a href="#"><img src="images/demo/img15.jpg" alt="" /></a><a href="#">Lakeisha Powanda</a></li>
			  <li><a href="#"><img src="images/demo/img15.jpg" alt="" /></a><a href="#">Connie Takach</a></li>
			  <li><a href="#"><img src="images/demo/img15.jpg" alt="" /></a><a href="#">Jane Eyre</a></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li>Sitters</li>
			  <li><a href="#"><img src="images/demo/img15.jpg" alt="" /></a><a href="#">Lakeisha Powanda</a></li>
			  <li><a href="#"><img src="images/demo/img15.jpg" alt="" /></a><a href="#">Connie Takach</a></li>
			  <li><a href="#"><img src="images/demo/img15.jpg" alt="" /></a><a href="#">Jane Eyre</a></li>
			</ul>
		  </li>
		  <li>
			<ul>
			  <li>Groups</li>
			  <li><a href="#">Hoboken Catholic Church</a> <a href="#" class="delete">&nbsp;</a></li>
			  <li><a href="#">St Francis Prep School</a> <a href="#" class="delete">&nbsp;</a></li>
			  <li><a href="#">Hoboken Mommies</a> <a href="#" class="delete">&nbsp;</a></li>
			</ul>
		  </li>
		</ul>
	  </div>
	  <!-- /network_block -->

	  <!-- reviews_block -->
	  <div class="mob_tab_trigger">Reviews</div>
	  <div class="tab_content reviews_block" id="tab-5">
		<div class="reco clear"><a href="#recommend_popup"><span class="icon_team2">&nbsp;</span>REQUEST RECOMMENDATION</a></div>
		<ul class="clear">
		  <li>
			<a href="#"><img src="images/demo/img11.jpg" alt="" /></a>
			<div class="desc">
			  <p><a href="#">Marcie Silk</a></p>
			  <div class="reco_btn"><span class="icon_ok">&nbsp;</span>Recommends</div>
			  <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. </p>
			  <p>Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet.</p>
			</div>
		  </li>
		  <li>
			<a href="#"><img src="images/demo/img12.jpg" alt="" /></a>
			<div class="desc">
			  <p><a href="#">Otis Devin</a></p>
			  <p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. </p>
			</div>
		  </li>
		</ul>
	  </div>
	  <!-- /reviews_block -->

	</div>
	<!-- /tabs_wrap -->

  </div>
</div>
<!-- /container -->