<div class="top_info clear">
  <div class="member_since">Feb 2013</div>
  <div class="photo">
	<div class="photo_edit_wrap">
	  <img src="/static/images/demo/img2.jpg" alt="" />
	  <p><span class="icon_pen">&nbsp;</span><a {{action 'openPhotoPopup'}}>Edit Photo</a></p>
	</div>
  </div>
  <div class="ranking_info">
	<p>{{full_name}}</p>
	<p>Ranking: <span>14th</span> of 137</p>
	{{#linkTo sitter this class="db_button"}}<span class="icon_eye">&nbsp;</span>VIEW PROFILE{{/linkTo}}
	<fieldset>
	  <legend>Here are some simple ways to improve your ranking:</legend>
	  <ul class="clear">
		<li><a href="#">Add more connections</a></li>
		<li>{{#linkTo sitterEdit.bookings}}Accept more booking requests{{/linkTo}}</li>
		<li><a href="#">Get more recommendations</a></li>
	  </ul>
	</fieldset>
  </div>
</div>
<!-- /top info -->
<!-- profile_completion -->
<div class="profile_completion clear" id="fixed_tabs">
  <p>Your profile is <span>ACTIVE</span> but incomplete</p>
  <div><span>&nbsp;</span></div>
  <p>Fill in the gaps below so parents can see how great you are!</p>
</div>
<!-- /profile_completion -->