{{#linkTo parentEdit.profile tag="div" class="mob_tab_trigger"}}Profile{{/linkTo}}
{{#linkTo mybookings tag="div" class="mob_tab_trigger"}}Bookings{{/linkTo}}
<!-- sitter_team -->
{{# view Sitterfied.MobTriggerView }} Sitter Team {{/ view}}
  <div class="tab_content my_sitter_team my_sitter_team_tab_bg" id="tab-3">
	{{# if this}}
	  <div class="send_request">
	    <a {{action bookTeam }}>
	      Send job request to sitter team
	    </a>
		<span class="iconquestion hastooltip">
			<span class="toolTip">
				Click on this link to send your job equest to every
				sitter on your team. Responses are faster when 
				multiple sitters are competing for the same job.
				<a href="#">Learn more</a>.
			</span>
		</span>
	  </div>
	{{/ if}}
	<ul class="clear">
      {{# each sitter in this }}
        {{ partial "sitterTeam" }}
        {{/each}}
	</ul>
  </div>
  <!-- /sitter_team -->
{{#linkTo parentEdit.network tag="div" class="mob_tab_trigger"}}Network{{/linkTo}}
{{#linkTo parentEdit.reviews tag="div" class="mob_tab_trigger"}}Reviews{{/linkTo}}
