django==1.5.5
django-pipeline
django-pipeline-compass

cssmin
slimit
django-grappelli==2.4.5
django-filebrowser==3.5.2

PIL

#DB
psycopg2
south

#FORMS
django-crispy-forms
django-floppyforms

#GENERAL TOOLS
django-annoying
django-extensions
django-model-utils
django-registration
unipath
pytz
feedparser
django-favicon
djangorestframework

#REDIS CACHING
hiredis
redis
django-redis-cache
django-redis-sessions

## AWS
boto
django-storages
django-ses
django_smtp_ssl

#OPTIONAL TOOLS
#pillow
#whoosh
#django-haystack
django-mandrill

#EMBERJS ADAPTER
django-filter


python-magic
twilio
ecl-facebook
django_twilio

pyuploadcare
pyatom
oauth2client
gdata
lxml
facebook-sdk
drf_ujson
requests
