django
django-pipeline
django-pipeline-compass
cssmin
slimit
django-grappelli
django-filebrowser


#DB
psycopg2
south
pillow
#FORMS
django-crispy-forms
django-floppyforms

#GENERAL TOOLS
django-annoying
django-extensions
django-model-utils
unipath
pytz
feedparser

#REDIS CACHING
hiredis
redis
django-redis-cache
django-redis-sessions

## AWS
boto
django-storages
django-ses
django_smtp_ssl

#OPTIONAL TOOLS

#whoosh
#django-haystack

# Debug Tools

django-debug-toolbar
-e git+https://github.com/dcramer/django-devserver#egg=django-devserver
werkzeug
sqlparse
#cheeseshop version doesn't work with 2.7
https://guppy-pe.svn.sourceforge.net/svnroot/guppy-pe/trunk/guppy
line_profiler
dozer

ipython
django-mandrill
https://github.com/django/django-localflavor-us/zipball/master


# EMBER precompiles
watchdog
#https://github.com/gabrielgrant/node-ember-precompile  npm :(

python-magic


twilio
ecl-facebook
