-r requirements.txt


# Debug Tools

django-debug-toolbar
-e git+https://github.com/dcramer/django-devserver#egg=django-devserver
werkzeug
sqlparse
#cheeseshop version doesn't work with 2.7
https://guppy-pe.svn.sourceforge.net/svnroot/guppy-pe/trunk/guppy
line_profiler
dozer

ipython
https://github.com/django/django-localflavor-us/zipball/master


# EMBER precompiles
watchdog
#https://github.com/gabrielgrant/node-ember-precompile  npm :(
