.wrapper {
  background-color: #2CA5B7;
  border-radius: 3px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.75;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: z-index 0.5s;
}

.wrapper.open {
  border-radius: 3px 3px 0 0;
  z-index: 9999;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.filterArrow {
  float: right;
}

.filterArrow::before {
  transition: transform 0.3s;
}

.open .filterArrow::before {
  transform: rotate(180deg);
}

.filterCheckbox {
  margin-right: 0.75rem;
}

.items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
  background-color: #56B5C3;
  padding: 0.25rem 0;
}

.open .items {
  max-height: 18.5rem;
  opacity: 1;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item {
  display: block;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.3s;
}

.item:hover {
  background-color: #248796;
}
