    {{# view Sitterfied.MobTriggerView }}
	  <span>{{declinedRequests.length}}</span>Declined Jobs
    {{/ view}}
	<!-- declined_jobs_block -->
	<div class="subtab_content declined_jobs_block" id="tab-1-6">
      <ul class="booking_list">
		{{# each booking in declinedRequests }}
          {{ render "booking" booking }}
        {{/ each}}
      </ul>
	</div>
