[program:{{ name }}]
command={{ command }}
directory={{ directory }}
redirect_stderr={{ redirect_stderr }}
autostart={{ autostart }}
autorestart={{ autorestart }}
user={{ user }}
startsecs={{ startsecs }}
{% if numprocs is defined %}
numprocs={{ numprocs }}
{% endif %}
{% if stdout_logfile is defined %}
stdout_logfile={{ stdout_logfile }}
{% endif %}
{% if stderr_logfile is defined %}
stderr_logfile={{ stderr_logfile }}
{% endif %}
{% if env_vars|length > 0 %}
environment={% for name, value in env_vars.iteritems() %}{{ name }}="{{ value }}"{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
