{{# linkTo search class="back"}}Back to search results{{/linkTo}}
<!-- top note form -->
<div class="top_note_form clear">
  <div class="add_note"><span class="icon_note">&nbsp;</span>Add a note</div>
  <textarea></textarea>
  <p>
    <span>If everything looks good below, send away!</span>
    <a class="button button_small button_cancel" {{ action 'cancel' }}>
      <span class="icon_cancel">&nbsp;</span>
      CANCEL
    </a>
    <a class="button button_small" {{ action 'book' }}>
      <span class="icon_ok2">&nbsp;</span>
      SEND
    </a>
  </p>
</div>
<!-- /top note form -->
<!-- top_personal_info -->
<div id="fixed_tabs">
  <div class="top_personal_info clear">
	<div class="img_name">
	  <img src="images/demo/img14.jpg" alt="" />
	  <span>Book Ellen</span>
	</div>
	<ul>
	  <li><span class="icon_date">&nbsp;</span>Wednesday 1 August 2012 &nbsp; <span>4:00 pm — 6:00 pm</span></li>
	  <li><span class="icon_friends5">&nbsp;</span>2 Kids</li>
	  <li><span class="icon_pin3">&nbsp;</span>33 Nassau Ave Suite #2 NY, New York</li>
	  <li><span class="icon_phone">&nbsp;</span>1258 986 89</li>
	</ul>
  </div>
</div>