<!-- sitter_team -->
{{# view Sitterfied.MobTriggerView }} Sitter Team {{/ view}}
	  <div class="tab_content my_sitter_team my_sitter_team_tab_bg" id="tab-3">
		<div class="send_request"><a href="#">Send a job request to the team</a></div>
		<ul class="clear">
          {{# each sitter in this }}
              {{ partial "sitterTeam" }}
          {{/each}}
		</ul>
	  </div>
	  <!-- /sitter_team -->
