{{#linkTo parentEdit.profile tag="div" class="mob_tab_trigger"}}Profile{{/linkTo}}
{{#linkTo mybookings tag="div" class="mob_tab_trigger"}}Bookings{{/linkTo}}
<!-- sitter_team -->
{{# view Sitterfied.MobTriggerView }} Sitter Team {{/ view}}
  <div class="tab_content my_sitter_team my_sitter_team_tab_bg" id="tab-3">
	<div class="send_request"><a {{action bookTeam }}>Send a job request to the team</a></div>
	<ul class="clear">
      {{# each sitter in this }}
        {{ partial "sitterTeam" }}
        {{/each}}
	</ul>
  </div>
  <!-- /sitter_team -->
{{#linkTo parentEdit.network tag="div" class="mob_tab_trigger"}}Network{{/linkTo}}
{{#linkTo parentEdit.reviews tag="div" class="mob_tab_trigger"}}Reviews{{/linkTo}}
