{{# linkTo search class="back"}}Back to search results{{/ linkTo }}
<!-- top info -->
<div class="top_info clear">
  <div class="member_since guest"></div>
  <div class="photo">
	<div class="photo_edit_wrap">
	  <img src="images/demo/img2.jpg" alt="" />
	  <p><span class="icon_pen">&nbsp;</span><a href="#edit_photo_popup">Edit Photo</a></p>
	</div>
  </div>
  <div class="guest_top_info">
	<p>Alex Patrick</p>
	<p>Hi Alex, you have <strong>4</strong> friends and and belong to <strong>2</strong> groups on Sitterfied</p>
	<ul class="clear">
	  <li><p><a href="#" class="facebook">&nbsp;</a><a href="#" class="gmail">&nbsp;</a></p><a href="#">Connect</a></li>
	  <li><p><a href="#" class="search">&nbsp;</a></p><a href="#">Search for Friends</a></li>
	  <li><p><a href="#" class="letter">&nbsp;</a></p><a href="#">Invite Friends</a></li>
	</ul>
	<p class="hide"><a href="#">Hide</a></p>
	<p class="show"><a href="#">Show</a></p>
  </div>
</div>
<!-- /top info -->
<!-- quick_info_list -->
<div class="quick_info_list clear" id="fixed_tabs">
  <ul>
	<li><strong>&nbsp;</strong>Facebook connected</li>
	<li><strong>4</strong> sitters on your team</li>
	<li><strong>5</strong> bookings</li>
	<li><strong>2</strong> weeks &amp; <strong>3</strong> days since your last booking</li>
  </ul>
</div>