	  <!-- sitter_team -->
	  <div class="mob_tab_trigger">Sitter Team</div>
	  <div class="tab_content my_sitter_team my_sitter_team_tab_bg" id="tab-3">
		<div class="send_request"><a href="#">Send a job request to the team</a></div>
		<ul class="clear">
          {{# each sitter_team }}
              {{ partial "sitterTeam" }}
          {{/each}}
		</ul>
	  </div>
	  <!-- /sitter_team -->
