<div class="container clear">
  <div class="wraper">

	<div class="tabs_wrap">
	  <ul class="tab_select">
		<li>{{#linkTo parentEdit.profile }}Profile{{/linkTo}}</li>
		<li>{{#linkTo mybookings }}Bookings{{/linkTo}}</li>
		<li>{{#linkTo parentEdit.sitterTeam }}Sitter Team{{/linkTo}}</li>
		<li>{{#linkTo parentEdit.network }}Network{{/linkTo}}</li>
		<li>{{#linkTo parentEdit.reviews }}Reviews{{/linkTo}}</li>
	  </ul>

      {{outlet}}

	</div>
  </div>
</div>