@import "_util";

#wheneverwant, #youcantrust {
    position:absolute;
}
#wheneverwant{
    top: -50px;
    left: 10px;
}
#youcantrust {
    top: 36px;
    left: 43px;
}

.simple {
    color: rgb(63, 176, 189);
    font-weight: normal;
}
.weexist {
    font-size: 36px;
    color: $greenblue;
}

.icontext {
    color: $greenblue;
    font-size: 24pt;
}

h4 {
    color: $greenblue !important;
}

.helpus {
    color: $darkblue;
    text-align:center;
    font-size:24px;
}
