@import "_util";


.emailaddr {
    margin-top: 7px;
    margin-bottom: 3px;
}

.inputborder {
    border: 1px solid #bfcdd5 !important;
}

.border-right {
    border-right: 1px solid $lightgray;
}


button{
    font-weight: bold !important;
}

.clearbox {
    width: 100px;
    height: 20px;
    display:inline;
    float: left;
}

.clearbox:last-child {
    border-right: 1px solid #dbdbdb;
}

.pillbox {
    @include border-radius(20px);
    @include background-clip(padding-box);
    border: 1px solid gray;
    height: 40px;
    line-height: 40px;
    width: 500px;
    position: relative;
    overflow: hidden;
    @include box-shadow(inset 0 0 5px rgba(0,0,0,.35));

}

.orangebox {
    @include background-image(linear-gradient(bottom, #e37f41 0%, #f2965a 100%));
    height: 40px;
    width: 100px;
    float: left;


}


.copied{
    position: absolute;
    margin-top: -5px;
    margin-left: 4px;
    display:none;
    i {
        font-weight: bold;
        line-height: 40px;
        margin-right: 3px;
    }
}
