@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/font-face";


@include font-face('marketo',
  font-files(
    '/static/css/fonts/marketotbold.woff', woff,
    '/static/css/fonts/marketotbold.ttf', ttf,
    '/static/css/fonts/marketotbold.svg', svg),
    '/static/css/fonts/marketotbold.eot');

@include font-face('Proxima Nova',
  font-files(
    '/static/css/fonts/proxima_nova_reg-webfont.woff', woff,
    '/static/css/fonts/proxima_nova_reg-webfont.ttf', ttf,
    '/static/css/fonts/proxima_nova_reg-webfont.svg', svg),
    '/static/css/fonts/proxima_nova_reg-webfont.eot');

@include font-face('Proxima Nova',
  font-files(
    '/static/css/fonts/proxima_nova_bold-webfont.woff', woff,
    '/static/css/fonts/proxima_nova_bold-webfont.ttf', ttf,
    '/static/css/fonts/proxima_nova_bold-webfont.svg', svg),
    '/static/css/fonts/proxima_nova_bold-webfont.eot', bold);

@include font-face('Proxima Nova',
  font-files(
    '/static/css/fonts/proxima_nova_reg_it-webfont.woff', woff,
    '/static/css/fonts/proxima_nova_reg_it-webfont.ttf', ttf,
    '/static/css/fonts/proxima_nova_reg_it-webfont.svg', svg),
    '/static/css/fonts/proxima_nova_reg_it-webfont.eot', normal, italic);

@include font-face('Proxima Nova',
  font-files(
    '/static/css/fonts/proxima_nova_bold_it-webfont.woff', woff,
    '/static/css/fonts/proxima_nova_bold_it-webfont.ttf', ttf,
    '/static/css/fonts/proxima_nova_bold_it-webfont.svg', svg),
    '/static/css/fonts/proxima_nova_bold_it-webfont.eot', bold, italic);

@include font-face('Proxima Nova SBold',
  font-files(
    '/static/css/fonts/proxima_nova_sbold-webfont.woff', woff,
    '/static/css/fonts/proxima_nova_sbold-webfont.ttf', ttf,
    '/static/css/fonts/proxima_nova_sbold-webfont.svg', svg),
    '/static/css/fonts/proxima_nova_sbold-webfont.eot');


@include font-face('Proxima Nova SBold',
  font-files(
    '/static/css/fonts/proxima_nova_sbold_it-webfont.woff', woff,
    '/static/css/fonts/proxima_nova_sbold_it-webfont.ttf', ttf,
    '/static/css/fonts/proxima_nova_sbold_it-webfont.svg', svg),
    '/static/css/fonts/proxima_nova_sbold_it-webfont.eot', normal, italic);





%proxima {
  font-family: 'Proxima Nova', sans-serif !important;
}
%marketo {
  font-family: 'marketo', sans-serif !important;
}

.semi-bold {
  font-family: 'Proxima Nova SBold', sans-serif !important;
}

h1 {
  @extend %proxima;
  width: 150%;
  font-size: 55px !important;
  font-weight: normal !important;
}

.largerfont {
    font-size: 16px;
}

p {
  @extend %proxima;
}
div {
  @extend %proxima;
}


html, body {
    height: 100%;
    overflow-x:hidden;
}

#comingsoon {
    background: url('../img/background.jpg') no-repeat;
    min-height: 1000px;
    overflow-y:hidden;
    color: white;
    background-size: 1440px 1000px;
    hr {
        height:0px;
	    border: .1em dashed;
        color: #c5c6be;
    }
}

.halfvspacer {
    margin-top: 20px;
}
.bottomspacer {
    margin-bottom: 25px;
}


.vspacer {
    margin-top: 80px;
}
.vspacer2 {
    margin-top: 180px;
}

#content {
    min-height: 1000px;
}
.container {
    height: 100%;
    height: auto !important;
}

.clear {
    clear:both;
}

footer{
    position: relative;
    margin-top: -45px; /* negative value of footer height */
    height: 45px;
    width: 100%;
    clear:both;
    background-repeat:no-repeat;
    background-size:100% 100%;
    border-top: 1px solid rgba(255, 255, 255, .2);
    background: rgba(255, 255, 255, .1);
}

footer div {
    margin-top: 6px;
}


input[type="radio"] {
    display:none;
}


input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    display:inline-block;
    width:20px;
    height:19px;
    background-color:white;
    cursor:pointer;
    vertical-align:middle;
    @include border-radius(2px);
}

input[type="radio"]:checked + label {
    background-repeat:no-repeat;
    background-position:center;
    background:white url(../img/green_checkmark.png);
}

.greencheck_box {
    @include border-radius(3px);
    margin-left: -30px;
    margin-top: -10px;
    width: 28px;

    vertical-align:middle;

}

.playbtn {
    margin-left: -20px;
    margin-top: -30px;
    cursor: pointer;
    opacity: .5;
}
.playbtn:hover {
    opacity: 1;
}

#share_with_friends_block {
    display:none;
    height:     800px;
    background-color: #4E3539;
}

#footer-left {
    background: rgba(255, 255, 255, .3);
    float: left;
}

#footer-left {
    float: left;
    height: 100%;
    margin-top: 0px;
    width: 35%;
    border-top: 1px solid rgba(255, 255, 255, .4);
    p {
        float: right;
        text-align:right;
        margin-top:16px;
    }
}
#footer-right {
    height: 100%;
    width: 65%;
    float: right;

}
#socialicons {
    float: left;
    margin-left:20px;
    margin-top:5px;

}

.arrow-right {
    float: left;
    margin-top:9px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 13px solid rgba(255, 255, 255, .3);
}

.copied{
    position: relative;
    top:-4px;
    margin-left: 10px;
    margin-right: 3px;
    display:none;
    i {
        font-weight: bold;
        width: 50px;
        margin-right: 3px;
    }
}

.copy-button {
    margin-left: -36px;
    margin-top: -10px;
    width: 35px;
    @include border-radius(3px);
}

.smalltext{
    font-size: 12px;
}

.inline {
    display:inline;
}

#idcode {
    width: 250px;

}

.loading {
    display:none;
}

#invitebynetwork{
    min-height: 180px;

}
#invitebyemail{
    display:none;
    min-height: 180px;
}

#sharerow {
    min-height: 260px;
}

textarea {
    resize: none;
    overflow:hidden;
    width: 420px !important;
}

.sharebtns a{
    color: white;
    opacity: .5;
}
.sharebtns a.active-share{
    opacity: 1;
}


.sharebtns a:hover{
    text-decoration: none;
    color: white;
    opacity: 1;
}
