@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/border-radius";

html, body {
    height: 100%;
    overflow:hidden;
}

#comingsoon {
    background: url('../img/background.png');
    color: white;
    background-size: cover;
    background-position: 0% 69%;

    hr {
        height:0px;
	    border: .1em dashed;
        color: #c5c6be;
    }
}

.vspacer {
    margin-top: 60px;
}

#content {
    min-height: 100%;
}
.container {
    height: 100%;
    height: auto !important;
}

.clear {
    clear:both;
}

footer{
    position: relative;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    width: 100%;
    clear:both;
    background-repeat:no-repeat;
    background-size:100% 100%;
    border-top: 1px solid rgba(255, 255, 255, .2);
    background: rgba(255, 255, 255, .1);
}

footer div {
    margin-top: 6px;
}


input[type="radio"] {
    display:none;
}


input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    display:inline-block;
    width:20px;
    height:19px;
    background-color:white;
    cursor:pointer;
    vertical-align:middle;
    @include border-radius(2px);
}

input[type="radio"]:checked + label {
    background-repeat:no-repeat;
    background-position:center;
    background:white url(../img/green_checkmark.png);
}

.greencheck_box {
    @include border-radius(3px);
    margin-left: -30px;
    margin-top: -10px;
    width: 28px;

    vertical-align:middle;

}

.playbtn {
    margin-left: -20px;
    cursor: pointer;
}

#share_with_friends_block {
    display:none;
    height:     800px;
    background-color: brown;
}

#footer-left {
    background: rgba(255, 255, 255, .3);
    float: left;
}

#footer-left {
    float: left;
    height: 100%;
    margin-top: 0px;
    width: 35%;
    border-top: 1px solid rgba(255, 255, 255, .4);
    p {
        float: right;
        text-align:right;
        margin-top:16px;
    }
}
#footer-right {
    height: 100%;
    width: 65%;
    float: right;

}
#socialicons {
    float: left;
    margin-left:20px;
    margin-top:8px;

}

.arrow-right {
    margin-right:-15px;
    float: right;
    margin-top:13px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid rgba(255, 255, 255, .3);
}
