{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	{% block title %}
	<title>Sitterfied</title>
	{% endblock %}
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- Favicon -->
	<link href="{% static "images/favicon.ico" %}" rel="icon" type="image/x-icon">

	<!-- Stylesheets -->
    {% load compressed %}
    {% compressed_css 'sitterfied' %}
    {% block extra_head %}
    {% endblock extra_head %}

	<!-- JavaScript -->
    <script>
      FACEBOOK_APP_ID = "{{ FACEBOOK_APP_ID }}";
	  UPLOADCARE_PUBLIC_KEY = "{{ UPLOADCARE_PUBLIC_KEY }}";
	  UPLOADCARE_TABS = "file facebook";
	  UPLOADCARE_CROP = "171x171 upscale";
	  UPLOADCARE_AUTOSTORE = true;
      UPLOADCARE_CDN_BASE = "{{ UPLOADCARE_CDN_BASE }}";
    </script>

	{%block extra_header%}
	{% endblock extra_header %}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/ie-popup.js"></script>
	<!--[if lt IE9]><script src="js/ie9.js">IE7_PNG_SUFFIX=".png";</script><![end if]-->
    {% include "googleanalytics.html" %}
    {% include "hublo.html" %}
    {% include "mixpanel.html" %}
  </head>
  <body {% block bodyclass %} {% endblock %}>

    {% block body %}
    {% endblock body %}

    {% include "ie_modal.html" %}
    {% include "intercom.html" %}
    {% include "perfectaudience.html" %}
  </body>
</html>
