<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	{% block title %}
	<title>Sitterfied</title>
	{% endblock %}
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- Favicon -->
	<link href="{{STATIC_URL}}images/favicon.ico" rel="icon" type="image/x-icon">

	<!-- Stylesheets -->
    {% load compressed %}
    {% compressed_css 'sitterfied' %}
    {% block extra_head %}
    {% endblock extra_head %}

	<!-- JavaScript -->
  <script>
	  UPLOADCARE_PUBLIC_KEY = "{{UPLOADCARE_PUBLIC_KEY}}";
	  UPLOADCARE_TABS = "file facebook";
	  UPLOADCARE_CROP = "171x171 upscale";
	  UPLOADCARE_AUTOSTORE = true;
  </script>

	{%block extra_header%}
	{% endblock extra_header %}
	<!--[if lt IE9]><script src="js/ie9.js">IE7_PNG_SUFFIX=".png";</script><![end if]-->

  </head>
  <body {% block bodyclass %} {%endblock%}>
    {% block body %}
	{% endblock %}

    <script id="IntercomSettingsScriptTag">
        window.intercomSettings = {
          email: '{{ request.user.email }}',
          full_name: '{{ request.user.get_full_name }}',
          created_at: {{ request.user.date_joined|date:'U' }},
          user_hash: '{{ request.user.hash }}',
          facebook_connected: {{ request.user.is_facebook_connected|yesno:'true,false' }},
          google_imported: {{ request.user.google_imported|yesno:'true,false' }},
          profile_completed: {{ request.user.profile_completed|yesno:'true,false' }},
          schedule_last_updated: {{ request.user.schedule_last_updated|date:'U'|default:'null' }},
          user_type: '{{ request.user.is_parent_or_sitter|lower }}',
          widget: {
            activator: '{{ intercom_activator }}'
          },
          app_id: '{{ INTERCOM_APP_ID }}'
        };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>
  </body>
</html>
