{% extends "base.html" %}

{% block title %}
Sitterfied
{% endblock title %}

{% block bodyclass %}
id="unsubscribe"
{% endblock bodyclass %}

{% block topcontainer %}
<div class="halfvspacer"></div>
<div class="halfvspacer"></div>
<div class="halfvspacer"></div>
<div class="row-fluid">
  <div class="span12">
    <h1 class="centeralign">You're back in!</h1>
  </div>
</div>
{% endblock topcontainer %}

{% block content %}
<div class="halfvspacer"></div>
<div class="halfvspacer"></div>
<div class="halfvspacer"></div>

{% endblock content %}
