<div id="footer-left" >
  <p>Check out <a class="blog" href="#"><b class="largerfont">our blog</b></a> Follow us. Say hello:</p>

</div>
<div id="footer-right">
  <div class="arrow-right"></div>
  <div id="socialicons">
    <a href="http://www.facebook.com/sitterfied"><div class="circle facebook"></div></a>
    <div class="circle facebook-preload"></div>
    <a href="http://www.twitter.com/sitterfied"><div class="circle twitter"></div></a>
    <div class="circle twitter-preload"></div>
    <a href="mailto:hello@sitterfied.com"><div class="circle mail"></div></a>
    <div class="circle mail-preload"></div>
  </div>

</div>
