{% extends "base.html" %}

{% block title %}
Sitterfied
{% endblock title %}

{% block bodyclass %}
   id="comingsoon"
{% endblock bodyclass %}

{% block content %}
<div id="topcontent">
  <div class="halfvspacer"></div>
  <div class="row-fluid">
    <div class="span12">
      <h1> Find and book friend-verified babysitters.</h1>
    </div>
  </div>

  <div class="vspacer2"></div>
  <div class="row-fluid">
    <div class="span3 logo">
      <img src="{{STATIC_URL}}img/logo.png" height=44 width=236 alt="sitterfied">
    </div>
  </div>
  <div class="fullvspacer"></div>
  <div class="row-fluid hrrow">
    <div class="span6">
      <hr>
    </div>
  </div>

  <div class="row-fluid margintop thanksdiv">
    <div class="span6">
      <p class="seventeen semi-bold">We're launching soon. <a href="#" class="blog">Learn more about us here.</a></p>
      <p><span class="largerfont">Then sign up and invite your friends for early access!</p>
    </div>
    <div class="span2">
      <img class="playbtn" src="{{STATIC_URL}}img/playbtn.png" />
    </div>
  </div>
  <div id="email_form_block">
    <form id="email_form">
      {% if referred_by %}
      <input type="hidden" id="referred_by" name="referred_by" value="{{referred_by}}">
      {% endif %}
      <div class="row-fluid">
        <div class="span6">
          <div class="row-fluid">
            <div class="span1">
              <input type="radio" id="parent" name="parent_or_sitter" value="p" checked>
              <label for="parent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Parent
              </label>
            </div>
            <div class="span1 offset2">
              <input type="radio" id="sitter" name="parent_or_sitter" value="s" >
              <label for="sitter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sitter</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3" style="position:relative;">
          <div class="greencheck_div" style="display:none;">
            <img  class="greencheck_box"  src="{{STATIC_URL}}img/checkbox.png" />
          </div>

          <input type="text" class="text_input front-input" name="name"
                 data-error="Please enter both first and last name"
                 pattern="\w+ \w+[\w ]*"placeholder="First & Last Name" required>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span3" style="position:relative;">
          <div class="greencheck_div" style="display:none;">
            <img  class="greencheck_box"  src="{{STATIC_URL}}img/checkbox.png" />
          </div>
          <input class="email_input front-input" name="email" type="email" data-error="Your email address doesn't look right" placeholder="Email Address" required>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span3">
          <button class="btn btn-info" type="submit"><p class="seventeen semi-bold">KEEP ME POSTED</b></button>
        </div>
      </div>
    </form>

    <div class="row-fluid">
      <div class="span6">
        <hr>
      </div>
    </div>


    <div class="row-fluid">
      <div class="span6 smalltext">
        We respect your privacy. You can unsubscribe at any time.
      </div>
    </div>
  </div>
</div>
</div>

<div id="notharmed">No children were harmed in the making of this photo. Just very tired little arms.</div>
<div id="share_with_friends_block">
  <div class="container">
    <div class="halfvspacer"></div>
    <div class="row-fluid">
      <div class="span6">
        <div class="row-fluid">
          <div class="span2">
            <img src="{{STATIC_URL}}img/heart.png" />
          </div>


        </div>
        <div class="row-fluid">

          <div class="span12">
            <h3 class="semi-bold">Want Priority Access?</h3>
          </div>

        </div>
        <div class="row-fluid">

          <div class="span12">
            Sign up 5 friends (<i>one must be a sitter</i>) and<br> we'll invite
            you all to our private beta program
          </div>
          <div class="clear"></div>
          <div class="bottomspacer"></div>

        </div>
        <div class="row-fluid">
          <div class="span12">
            The more friends you invite the sooner you'll gain
            access!
          </div>
          <div class="clear"></div>
          <div class="bottomspacer"></div>
        </div>
        <div class="row-fluid">
          <div class="span12 inline">
            <input size="100" type="text" class="idcode" readonly="readonly" value="">
            <button data-clipboard-text="Copy Me!" class="btn-info copy-button">COPY</button>
            <span class="copied"><i>Copied!</i></span>
          </div>

        </div>
      </div>

      <div id="sharerow" class="span6">
        <div class="halfvspacer"></div>
        <div class="row-fluid sharebtns">
          <div class="span6">
            <a href="#" id="sharewithnetwork" class="active-share"><b class="largerfont">Share with your network</b></a>
          </div>
          <div class="span6">
            <a href="#" id="sharewithemail"><b class="largerfont">Share by email</b></a>
          </div>
        </div>
        <div class="row-fluid">
          <div id="carrotimage" class="span1 offset2">
            <img src="{{STATIC_URL}}/img/circumflex.png" />
          </div>
        </div>

        <div id="invitebynetwork">
          <div class="row-fluid">
            <div class="span12">
              <textarea cols="40" rows="3" id="sharetext">Join me @sitterfied for an early invite to find and book trusted sitters online! Sign up for free:</textarea>
              <div class="span1 offset10"><p id="twittercount"></p></div>
            <div class="halfvspacer"></div>

            </div>
          </div>
          <div class="row-fluid">
            <div class="span5 pull-right">
              <button class="btn btn-info" onclick="tweet()">
                <img src="{{STATIC_URL}}img/tweetbtnimg.png">
                &nbsp;&nbsp;&nbsp;
                Tweet on twitter
              </button>
            </div>
            <div class="span5 pull-right">
              <button class="btn btn-info" onclick="facebook()">
                <img src="{{STATIC_URL}}img/facebookbtnimg.png">
                &nbsp;&nbsp;&nbsp;
                Share on facebook
              </button class="btn btn-info">
            </div>
          </div>
        </div>

        <div id="invitebyemail">
          <div class="row-fluid">
            <div class="span6">
              <b>Invite Friends by email:</b>
            </div>
          </div>
          <form id="invite_email_form">
            <input type="hidden" id="referral_link" name="referral_link" value="">
            <div class="row-fluid">
              <div class="span12">
                <input class="email_input" name="email" type="email" placeholder="Email"><img style="display:none" class="greencheck_box_lessmargin" src="{{STATIC_URL}}img/checkbox.png" />
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                <input class="email_input" name="email" type="email" placeholder="Email"><img style="display:none" class="greencheck_box_lessmargin" src="{{STATIC_URL}}img/checkbox.png" />
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                <input class="email_input" name="email" type="email" placeholder="Email"><img style="display:none" class="greencheck_box_lessmargin" src="{{STATIC_URL}}img/checkbox.png" />
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12">
                <button class="btn btn-info" type="submit" >SEND</button> <img src="{{STATIC_URL}}img/loading.gif" class="loading">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <hr>
      </div>
      <div class="span6">
        <hr>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block body_media %}
<script type="text/javascript">
    var refer_url;

margin_left = $('.container').css('margin-left')
$("#footer-left > p").css('margin-left', margin_left)
footer_right_width = $(window).width() - $("#footer-left").width()
$("#footer-right").css('width', footer_right_width)

$(window).resize(function(){
    margin_left = $('.container').css('margin-left')
$("#footer-left > p").css('margin-left', margin_left)
footer_right_width = $(window).width() - $("#footer-left").width()
$("#footer-right").css('width', footer_right_width)

    })

tweet = function() {
    totweet = $("#sharetext").val()
    totweet = encodeURIComponent(totweet)
    tweet_link = "https://twitter.com/share?related=sitterfied&text=" + totweet
    newwindow=window.open(tweet_link,'tweet this','height=260,width=510');
	if (window.focus) {newwindow.focus()}
	return false;
}

facebook = function(){
    toshare = $("#sharetext").val()
    toshare = encodeURIComponent(toshare)

    app_id="app_id=141907389308388"
    link="link=" + refer_url

    picture="picture=" + window.location.origin + "{{STATIC_URL}}img/heart.png"
    redirect_uri="redirect_uri=https://www.facebook.com"
    name="name=Sitterfied"
    caption="caption=Friend%20Verified.%20Search%20Simplified"
    description="description=" + toshare

    share_link =  "http://www.facebook.com/dialog/feed?" + app_id + "&" + link +  "&" + name + "&" + caption + "&" + description +  "&" + redirect_uri +  "&" + picture
    newwindow=window.open(share_link,'share this','height=500,width=1200');
	if (window.focus) {newwindow.focus()}
	return false;
}

$(document).ready(function() {


    $("#sharetext").keyup(function(e){
        twittercount = 140 - $(this).val().length
        $("#twittercount").html(twittercount)
    })

    $("input").bind('invalid',function(e){
        console.log('test')
        e.target.setCustomValidity("");
        if (!e.target.validity.valid) {
            title = $(this).data('error')
            e.target.setCustomValidity(title)
        }
        return true
    }).on('oninput', function(e){
        e.target.setCustomValidity("");
    })

    $(".email_input, .text_input").keyup(function(){
            valid = this.checkValidity()
            that = $(this)
            val = that.val()
            if (valid && val !== "") {
                $(this).prev().show()
            }
            else {
                $(this).prev().hide()
            }

        });


       $("#email_form").submit(function(e){
           var data = $(this).serialize();
           firstname = $(this.name).val().split(" ")[0]
           e.preventDefault();
           $.ajax({
               url: "{% url 'comingsoon_email_submit' %}",
               type: "POST",
               data: data,
           }).success(function(data){
               refer_url = window.location.origin + "/refer/" + data.id;
               $(".idcode").attr('value',refer_url)
               $(".copy-button").attr("data-clipboard-text", refer_url)
               $("#referral_link").attr("value", refer_url)
               val = $("#sharetext").val()
               $("#sharetext").val(val + " " + refer_url)
               $("#sharetext").keyup()

           })
           tell_friends(firstname)
           return false
       });

       $("#invite_email_form").submit(function(e){
           var data = $(this).serialize();
           e.preventDefault();
           $.ajax({
               url: "{% url 'invite_email_submit' %}",
               type: "POST",
               data: data,
           }).success(function(data){
               $('.loading').hide()
               $("#invite_email_form input[type=email]").val("").keyup()
           })
           $('.loading').show()
           return false
       });


        var clip = new ZeroClipboard( $(".copy-button"), {
            moviePath: "{{STATIC_URL}}swf/ZeroClipboard.swf"
        });
        clip.on( 'complete', function(client, args) {
            cc = $(this).next()
            cc.fadeIn(500)
            setTimeout(function(){
                cc.fadeOut(500)
            }, 3000)
        });


        $("#sharewithnetwork").click(function(e){
            if (!$("#invitebynetwork").is("visible")) {
                $(this).switchClass("", "active-share")
                $("#sharewithemail").switchClass("active-share", "")
                $("#carrotimage").switchClass("offset7", "offset2")
                $("#invitebyemail").fadeOut(500, function(){
                    $("#invitebynetwork").fadeIn(500)
                })

            }
            e.preventDefault();
            e.stopPropagation();

        });
        $("#sharewithemail").click(function(e){
            if (!$("#invitebyemail").is("visible")) {
                $(this).switchClass("", "active-share")
                $("#sharewithnetwork").switchClass("active-share", "")
                $("#carrotimage").switchClass("offset2", "offset7")
                $("#invitebynetwork").fadeOut(500, function(){
                    $("#invitebyemail").fadeIn(500)
                })

            }
            e.preventDefault();
            e.stopPropagation();
        });

        edit_facebook_url = function(summery){
            base_fb_url  = 'href="http://www.facebook.com/sharer.php?s=100&p[title]=Sitterfied"'
            summarry = "&p[summary]=YOUR_SUMMARY"
            url = "&p[url]=" + refer_url
            //"&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT"
        }


});
tell_friends = function(firstname){
    $(".hrrow").css("visibility", "hidden");
    function capitaliseFirstLetter(string)
    {
    return string.charAt(0).toUpperCase() + string.slice(1);
    }
    $(".thanksdiv").fadeOut(500, function(){
        $(".fullvspacer").hide()

        $(".thanksdiv").html("<h2 class='semi-bold'>Thanks " + capitaliseFirstLetter(firstname) + "!</h2>").fadeIn().removeClass('margintop')
    })
    $("#notharmed").hide()
    $("#email_form_block").fadeOut(500, function(){
        $("#share_with_friends_block").show("slide", { direction: "down" }, 500);
    });
}




// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
{% endblock %}
