<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html style="font-family: 'Proxima Nova', sans-serif !important; color: #586162;">
<head>
<title>Email-PreLaunchInvited_Clean</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-size:14px;line-height:135%">
<style type="text/css">
@font-face { font-family: "Proxima Nova" !important; src: url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_reg-webfont.eot?#iefix) format('eot'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_reg-webfont.woff) format('woff'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_reg-webfont.ttf) format('truetype'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_reg-webfont.svg) format('svg') !important; }
@font-face { font-family: "Proxima Nova" !important; src: url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_bold-webfont.eot?#iefix) format('eot'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_bold-webfont.woff) format('woff'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_bold-webfont.ttf) format('truetype'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_bold-webfont.svg) format('svg') !important; font-weight: bold !important; }
@font-face { font-family: "Proxima Nova" !important; src: url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_reg_it-webfont.eot?#iefix) format('eot'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_reg_it-webfont.woff) format('woff'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_reg_it-webfont.ttf) format('truetype'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_reg_it-webfont.svg) format('svg') !important; font-weight: normal !important; font-style: italic !important; }
@font-face { font-family: "Proxima Nova" !important; src: url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_bold_it-webfont.eot?#iefix) format('eot'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_bold_it-webfont.woff) format('woff'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_bold_it-webfont.ttf) format('truetype'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_bold_it-webfont.svg) format('svg') !important; font-weight: bold !important; font-style: italic !important; }
@font-face { font-family: "Proxima Nova SBold" !important; src: url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_sbold-webfont.eot?#iefix) format('eot'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_sbold-webfont.woff) format('woff'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_sbold-webfont.ttf) format('truetype'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_sbold-webfont.svg) format('svg') !important; }
@font-face { font-family: "Proxima Nova SBold" !important; src: url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_sbold_it-webfont.eot?#iefix) format('eot'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_sbold_it-webfont.woff) format('woff'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_sbold_it-webfont.ttf) format('truetype'), url(http://sitterfieddev-jnanscawen.dotcloud.com/static/css/fonts/proxima_nova_sbold_it-webfont.svg) format('svg') !important; font-weight: normal !important; font-style: italic !important; }
></style>
    <div id="table" style="display: inline-block; top: 10%; position: absolute; height: 100%; width: 100%;">
    <div id="container" style="display: inline-block; left: 20%; position: relative; vertical-align: middle;">
      <div id="inner" style="display: inline-block; top: -50%; position: relative; margin-left: auto; margin-right: auto;">
      <!-- Save for Web Slices (Email-PreLaunchInvited_Clean.psd) -->

      <div id="box" style="margin-left: 10px; width: 500px; padding-left: 30px; padding-right: 30px; -moz-border-radius: 3px 3px 0 0 / 4px 4px 0 0; -webkit-border-radius: 3px 3px 0 0 / 4px 4px 0 0; border-radius: 3px 3px 0 0 / 4px 4px 0 0; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; background-color: #fff; -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15); box-shadow: 0 1px 2px rgba(0,0,0,.15);">
        <img src="{{full_static_url}}email/images/toplogo.jpg" alt=""><br><img id="icon" src="{{full_static_url}}email/images/{%block iconpath%}heartletter.png{% endblock iconpath %}" alt="" style="margin-left: auto; margin-right: auto; height: 80px; width: 90px; display: block;">
        {% block message %}
        {% endblock message %}
        <br><img id="sig" src="{{full_static_url}}email/images/bottomsig.png" alt="" style="margin-top: 20px;"><div id="ps" style="margin-top: 20px;">
        {% block ps %}
         
        {% endblock ps %}
        </div>
      </div>
      <img src="{{full_static_url}}email/images/bottom.png" alt=""><div id="bottom" style="margin-left: 10px; margin-right: 20px;">
        <div class="unsubscribe" style="float: right;">
          <img src="{{full_static_url}}email/images/unsubscribe.png" alt="">
</div>

        <div class="address" style="color: #b6b8b8; font-family: 'Proxima Nova'; font-weight: bold;">
          <div style="font-size: 12px;">Sitterfied Inc.</div>
          <div style="font-size: 10px;">50 Harrison Street<br>
          Suite PH 427<br>
          Hoboken, NJ 070<br>
</div>
        </div>
      </div>

      <!-- End Save for Web Slices -->
    </div>
    </div>
  </div>
</body>
</html>
