<header>
  <div class="container">
    <div class="row-fluid header">
      <div class="span2">
        <a href="/"><img src="{{STATIC_URL}}img/top_logo.png" alt="sitterfied" /></a>
      </div>
      <div class="span4 offset6">
        <!-- <img src="{{STATIC_URL}}img/house_logo.png" alt="home" /> -->
        <a href="/about" class="white"><b>How it Works</b></a>
        <img class="marginten" src="{{STATIC_URL}}img/sep.png" />
        <a href="http://sitterfied.tumblr.com" class="white"><b >Blog</b></a>
        <img class="marginten" src="{{STATIC_URL}}img/sep.png" />
        <a href="http://www.facebook.com/sitterfied"><div class="circle facebook"></div></a>
        <div class="circle facebook-preload"></div>
        <a href="http://www.twitter.com/sitterfied"><div class="circle twitter"></div></a>
        <div class="circle twitter-preload"></div>
        <a href="mailto:hello@sitterfied.com"><div class="circle mail"></div></a>
        <div class="circle mail-preload"></div>
      </div>
    </div>
  </div>
</header>
