{% extends "base.html" %}

{% block title %}
Sitterfied
{% endblock title %}

{% block bodyclass %}
   id="howitworks"
{% endblock bodyclass %}

{% block header %}
{% endblock header %}

{% block content %}
<div id="topcontainer">
  <div class="container">
    <div class="row-fluid header">
      <div class="span2">
        <img src="{{STATIC_URL}}img/top_logo.png" alt="sitterfied" />
      </div>
      <div class="span3 offset7">
        <img src="{{STATIC_URL}}img/house_logo.png" alt="home" />
        <img class="marginten" src="{{STATIC_URL}}img/sep.png" />
        <b >Blog</b>
        <img class="marginten" src="{{STATIC_URL}}img/sep.png" />
        <div class="circle facebook"></div>
        <div class="circle facebook-preload"></div>
        <div class="circle twitter"></div>
        <div class="circle twitter-preload"></div>
        <div class="circle mail"></div>
        <div class="circle mail-preload"></div>
      </div>
    </div>
  </div>
  <div id="topcontainer-content" class="container">
    <div class="halfvspacer"></div>
    <div class="halfvspacer"></div>
    <div class="quartervspacer"></div>
    <div class="row-fluid">
      <div class="span10 offset1">
        <h2 class="weexist">We exist so that parents get<span class="rel"><img id="wheneverwant" src="{{STATIC_URL}}img/hiw_whenever_they_want.png" /></span> out and<span class="rel"><img id="youcantrust" src="{{STATIC_URL}}img/hiw_you_can_trust.png" /></span> sitters get jobs</h2>
      </div>
    </div>
    <div class="halfvspacer"></div>
    <div class="halfvspacer"></div>
    <div class="row-fluid">
      <div class="span12">
        <h3 class="simple centeralign">It's ridiculously  simple...</h3>
      </div>
    </div>
  </div>
</div>
<div id="bottomcontainer" class="container">
  <div class="row-fluid icons">
    <div class="span3 offset1">
      <img class="centeralign-image" src="{{STATIC_URL}}img/hiw_search.png" alt="search" >
    </div>
    <div class="span4">
      <img class="centeralign-image" src="{{STATIC_URL}}img/hiw_find.png" alt="find" >
    </div>
    <div class="span4">
      <img class="centeralign-image" src="{{STATIC_URL}}img/hiw_book.png" alt="book" >
    </div>
  </div>
  <div class="row-fluid centeralign" >
    <div class="span3 offset1">
      <h2>Search</h2>
      Enter a date and time and let us show you who's available and how you're connected
    </div>
    <div class="span4">
      <h2>Find</h2>
      View the profiles of available sitters. See which of your friends have hired them and if they'd hire them again.
    </div>
    <div class="span4">
      <h2>Book</h2>
      Click 'Book'. We'll handle the requests, confirmations and reminders via email and text
    </div>
</div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 offset1">
        <img src="{{STATIC_URL}}img/sitterfied_explained.png" alt="Sitterfied explained in 90 seconds">
    </div>
    <div class="span2 offset2 heighthundred vcenter">
      <img  src="{{STATIC_URL}}img/spread_the_word.png" alt="spread the word!" >
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset5">
      <img src="{{STATIC_URL}}img/want_more.jpg" alt="want more?" >
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>
  <div class="halfvspacer"></div>
  <div class="halfvspacer"></div>
  <div class="row-fluid">
    <div class="span5 offset1">
      <h4>Safety and trust</h4>
      Safety is everything to us. Sitterfied was built with our own kids in mind. Multiple verification points (social connections, reviews, recommendations, background checks ) and privacy measures allow you to connect, meet, and hire with confidence.
    </div>
    <div class="span4 offset1">
      <img class="centeralign-image" src="{{STATIC_URL}}img/heart_and_lock.jpg" alt="Safety and trust!" >
    </div>
  </div>
  <div class="halfvspacer"></div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5 offset1">
      <img src="{{STATIC_URL}}img/reccomends.jpg" alt="Friend Verified" >
    </div>
    <div class="span4 offset1 vcenter">
      <h4>Friend Verified</h4>
    How many times have you asked a friend for a sitter recommendation? Now Sitterfied does the work for you. Access your existing social networks (like Facebook) to see who knows, who’s hired, and who recommends the sitters you find.
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span5 offset1 vcenter">
      <h4>Great sitters at the drop of a hat?</h4>
      Challenge accepted! We help you grow your sitter dream team so if one's not available, there's always another who is.
    </div>
    <div class="span4 offset1">
      <img class="centeralign-image" src="{{STATIC_URL}}img/user_prize.png" alt="Great sitters" >
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>


  <div class="row-fluid">
    <div class="span4 offset5">
      <img src="{{STATIC_URL}}img/tell_your_friends.png" alt="Tell your friends" >
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span10 offset1">
      <img class="hundredwidth" src="{{STATIC_URL}}img/search_demo.jpg" alt="Search simplified" >
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 centeralign">
      <h4>Search simplified</h4>
      Enter a date and time to find and book a trustworthy sitter in minutes.
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5 offset1">
      <img class="centeralign-image" src="{{STATIC_URL}}img/users_and_hearts.png" alt="Your personal assistant" >
    </div>
    <div class="span5 offset1 vcenter">
      <h4>Your personal assistant</h4>
      We’ll help you stay on top of your bookings with calendar updates, timely reminders and job details via text, email or both.
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5 offset1 vcenter">
      <h4>We're mobile</h4>
      Our site will adapt to any mobile browser so you can access Sitterfied on the go. Because, let’s be honest, when are you ever not on the go?
    </div>
    <div class="span5 offset1">
      <img class="centeralign-image" src="{{STATIC_URL}}img/mobile.png" alt="We're mobile" >
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8 offset2">
      <h2 class="helpus">Help us. Help yourself. Help your friends.</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4 offset4">
      <img src="{{STATIC_URL}}img/share_the_heart.png" alt="share the love"> <span class="cursive"> for early beta access</span>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset5">
      <img src="{{STATIC_URL}}img/back_top.png" alt="Back to top" >
    </div>
  </div>
  <div class="halfvspacer"></div>
</div>
<div class="halfvspacer"></div>
<div class="row-fluid">
  <div class="span3 offset2">
    <img src="{{STATIC_URL}}img/sitterfied_bottom_logo.png" alt="Sitterfied" >
  </div>
</div>
<div class="halfvspacer"></div>
<div class="halfvspacer"></div>
{% endblock content %}

{% block body_media %}

{% endblock %}
