<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Sitterfied</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- Favicon -->
	<link href="{{STATIC_URL}}images/favicon.ico" rel="icon" type="image/x-icon">

	<!-- Stylesheets -->
    {% load compressed %}
    {% compressed_css 'sitterfied' %}
    {% block extra_head %}
    {% endblock extra_head %}

	<!-- JavaScript -->
    <script>
    </script>

    <script data-main="{{STATIC_URL}}js/main" src="{{STATIC_URL}}js/require/require.js"></script>

    <script>
      var user_json = '{{user_json|safe}}'
      var parent_or_sitter = '{{parent_or_sitter}}'
    </script>
	<!--[if lt IE9]><script src="js/ie9.js">IE7_PNG_SUFFIX=".png";</script><![end if]-->

  </head>
  <body>
    <script type="text/x-handlebars">

      <!-- edit_photo_popup -->
            {% verbatim %}
<div id="edit_photo_popup">
	<div class="edit_photo_popup_wrap">
		<div class="photo_wrap">
			<img src="/static/images/demo/img17.jpg" alt="" />
		</div>
		<p><a class="button button_edit" {{action 'previewAvatar'}}>Upload from Computer</a>
          <span>(4 MB file limit)</span><a class="button button_small" {{action 'uploadAvatar'}}><span class="icon_ok2">&nbsp;</span>Save</a>
        </p>
	</div>

    <form id="avatar_form" style="display:none">
      <input type="file">
    </form>
</div>


      <div id="recommend_popup">
	    <div class="tit"><span>Recommend Ellen</span></div>
	    <div class="info">
	      <form method="post" action="#" class="form_style">
	    	<p><span class="pad">How do you know Ellen?</span><select><option>Sat for my kids</option></select></p>
	    	<p><span class="icon_review3">&nbsp;</span><label for="review">Review</label><textarea id="review">Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia.</textarea></p>
	    	<p><a class="button button_small" href="#"><span class="icon_ok2">&nbsp;</span>Post</a><a class="button button_cancel button_small" href="#"><span class="icon_cancel">&nbsp;</span>Cancel</a></p>
	      </form>
	    </div>
      </div>
{% endverbatim %}

      <!-- header -->
        <header class="header">
	      <div class="wraper">
            {% verbatim %}
		    {{# linkTo index class="logo"}}
            {% endverbatim %}
            <img src="{{STATIC_URL}}images/logo.png" alt="" />
            {% verbatim %}
            {{/linkTo}}
            {% endverbatim %}
		    <!-- top menu -->
            <div class="menu_trigger"></div>
            <nav>
              <ul>
                {% verbatim %}
                <li>{{#linkTo search }} Search {{/linkTo}}</li>
	            <li>{{#linkTo book }}Bookings{{/linkTo}}</li>
		        <li>
					{{#linkTo profile }}<img src="/static/images/demo/img.jpg" alt="" /> {{Sitterfied.currentUser.first_name}}{{/linkTo}}
					<ul>
						<li><span class="menu_icon_setting">&nbsp;</span>{{#linkTo settings }}Account Settings{{/linkTo}}</li>
						<li><span class="menu_icon_profile">&nbsp;</span>{{#linkTo profile }}Profile{{/linkTo}}</li>
						<li><span class="menu_icon_friends">&nbsp;</span><a href="#">Find Friends</a></li>
						<li><span class="menu_icon_members">&nbsp;</span><a href="#">Are you Sitterfied?</a></li>
						<li><span class="menu_icon_support">&nbsp;</span><a href="#">Support</a></li>
						<li><span class="menu_icon_signout">&nbsp;</span><a href="/logout/">Sign Out</a></li>
					</ul>
				</li>
                {% endverbatim %}
              </ul>
            </nav>
		    <!-- /top menu -->
		    <!-- top note -->
              {% verbatim %}
              {{outlet top}}
              {% endverbatim %}


	      </div>
        </header>
        <!-- /header -->


        {% verbatim %}
        {{outlet content}}
        {% endverbatim %}

        <footer class="footer">
	      <div class="wraper">
		    <a href="#" class="logo_bottom"><img src="{{STATIC_URL}}images/logo_bottom.png" alt="" /></a>
		    <!-- bottom menu -->
		    <nav>
			  <ul>
                {% verbatim %}
				<li>{{#linkTo about }}About Us{{/linkTo}}</li>
				<li><a href="mailto:hello@sitterfied.com">Contact</a></li>
				<li><a href="http://blog.sitterfied.com/">Blog</a></li>
				<li>{{#linkTo privacy }}Privacy Policy{{/linkTo}}</li>
				<li>{{#linkTo tos }}Terms of Service{{/linkTo}}</li>
                {% endverbatim %}
			  </ul>
		    </nav>
		    <!-- /bottom menu -->
	      </div>
        </footer>
        <div class="back-to-top" id="back-top"><a href="javascript:void(0)" class="back-to-top">Top</a></div>
      </script>
  </body>
</html>
