<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Sitterfied</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- Favicon -->
	<link href="{{STATIC_URL}}images/favicon.ico" rel="icon" type="image/x-icon">

	<!-- Stylesheets -->
    {% load compressed %}
    {% compressed_css 'sitterfied' %}
    {% block extra_head %}
    {% endblock extra_head %}

	<!-- JavaScript -->
    <script>
	  UPLOADCARE_PUBLIC_KEY = "{{UPLOADCARE_PUBLIC_KEY}}";
	  UPLOADCARE_TABS = "file facebook";
	  UPLOADCARE_CROP = "171x171 upscale";
	  UPLOADCARE_AUTOSTORE = true;

    </script>
    <script>
      var user_json = '{{user_json|safe}}'
	  var friends_json = '{{friends_json|safe}}'
	  var children_json = '{{children_json|safe}}'
	  var sitter_teams_json = '{{sitter_teams_json|safe}}'
	  var bookmarks_json = '{{bookmarks_json|safe}}'
	  var bookings_json = '{{bookings_json|safe}}'

      var parent_or_sitter = '{{parent_or_sitter}}'
    </script>
	<script src="{{STATIC_URL}}js/lib/handlebars.js"></script>
	{% if debug %}
    <script data-main="{{STATIC_URL}}js/main" src="{{STATIC_URL}}js/require/require.js"></script>
	{% else %}
	<script src="{{STATIC_URL}}js/sitterfied-min.js"></script>
	{% endif %}
	<!--[if lt IE9]><script src="js/ie9.js">IE7_PNG_SUFFIX=".png";</script><![end if]-->
  </head>
  <body>
    <script type="text/x-handlebars">

            {% verbatim %}

      <div id="recommend_popup">
	    <div class="tit">
          <span>Recommend {{Sitterfied.currentUser.first_name}}
          </span>
        </div>
	    <div class="info">
	      <form method="post" class="form_style">
	    	<p>
              <span class="pad">How do you know {{Sitterfied.currentUser.first_name}}?
              </span>
              <select>
                <option>Sat for my kids
                </option>
              </select>
            </p>
	    	<p>
              <span class="icon_review3">&nbsp;
              </span>
              <label for="review">Review
              </label>
              {{# with  controllers.sitterReview }}
              {{view Ember.TextArea id="review" valueBinding="review"}}
            </p>
	    	<p>
              <a class="button button_small" {{action "postReivew" this }}>
                <span class="icon_ok2">&nbsp;
                </span>Post
              </a>
              {{/with}}
              <a class="button button_cancel button_small" {{action "closeReccomendPopup"}}>
                <span class="icon_cancel">&nbsp;
                </span>Cancel
              </a>
            </p>
	      </form>
	    </div>
      </div>
      {% endverbatim %}

      <!-- header -->
        <header class="header">
	      <div class="wraper">
            {% verbatim %}
		    {{# linkTo index class="logo"}}
            {% endverbatim %}
            <img src="{{STATIC_URL}}images/logo.png" alt="" />
            {% verbatim %}
            {{/linkTo}}
		    <!-- top menu -->
			{{view Sitterfied.TriggerView class="menu_trigger"}}
            {% endverbatim %}
            <nav>
              <ul>
                {% verbatim %}
                <li>{{#linkTo search }} Search {{/linkTo}}</li>
	            <li>{{#linkTo mybookings }}Bookings{{/linkTo}}</li>
		        <li>
					{{#linkTo profile }}<img {{bindAttr src=Sitterfied.currentUser.avatarUrl}} alt="" /> {{Sitterfied.currentUser.first_name}}{{/linkTo}}
					<ul>
						<li><span class="menu_icon_setting">&nbsp;</span>{{#linkTo settings }}Account Settings{{/linkTo}}</li>
						<li><span class="menu_icon_profile">&nbsp;</span>{{#linkTo profile }}Profile{{/linkTo}}</li>
						<li><span class="menu_icon_friends">&nbsp;</span><a href="#">Find Friends</a></li>
						<li><span class="menu_icon_members">&nbsp;</span><a href="#">Are you Sitterfied?</a></li>
						<li><span class="menu_icon_support">&nbsp;</span><a href="#">Support</a></li>
						<li><span class="menu_icon_signout">&nbsp;</span><a href="/logout/">Sign Out</a></li>
					</ul>
				</li>
                {% endverbatim %}
              </ul>
            </nav>
		    <!-- /top menu -->
		    <!-- top note -->
              {% verbatim %}
              {{outlet top}}
              {% endverbatim %}


	      </div>
        </header>
        <!-- /header -->


        {% verbatim %}
        {{outlet content}}
        {% endverbatim %}

        <footer class="footer">
	      <div class="wraper">
		    <a href="#" class="logo_bottom"><img src="{{STATIC_URL}}images/logo_bottom.png" alt="" /></a>
		    <!-- bottom menu -->
		    <nav>
			  <ul>
                {% verbatim %}
				<li>{{#linkTo about }}About Us{{/linkTo}}</li>
				<li><a href="mailto:hello@sitterfied.com">Contact</a></li>
				<li><a href="http://blog.sitterfied.com/">Blog</a></li>
				<li>{{#linkTo privacy }}Privacy Policy{{/linkTo}}</li>
				<li>{{#linkTo tos }}Terms of Service{{/linkTo}}</li>
                {% endverbatim %}
			  </ul>
		    </nav>
		    <!-- /bottom menu -->
	      </div>
        </footer>
		{% verbatim %}
		{{# view Sitterfied.BackToTop class="back-to-top" id="back-top" }}
		  <a class="back-to-top">Top</a>
		{{/ view}}
		{% endverbatim %}
      </script>
  </body>
</html>
