<div id="wistia_modal" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<object id="wistia_2841909" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="960" height="540">
  <param name="allowfullscreen" value="true" />
  <param name="allowscriptaccess" value="always" />
  <param name="wmode" value="opaque" />
  <param name="flashvars"
         value="videoUrl=http://embed-0.wistia.com/deliveries/f05ed2c68ab439c7db399503c9ec711f77e422dc.bin&stillUrl=http://embed-0.wistia.com/deliveries/dc0dbb8c26c5c731d175c13efa4e53923a43ee69.bin&playButtonVisible=true&controlsVisibleOnLoad=false&unbufferedSeek=false&autoLoad=false&autoPlay=false&endVideoBehavior=default&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_48337&mediaID=wistia-production_2841909&mediaDuration=97.56&hdUrl=http://embed-0.wistia.com/deliveries/39ecac9894bd84387eef0b2403ef35bae4a5fb91.bin"
         />
  <param name="movie" value="http://embed-0.wistia.com/flash/embed_player_v2.0.swf" />
  <embed src="http://embed-0.wistia.com/flash/embed_player_v2.0.swf"
         name="wistia_2841909" type="application/x-shockwave-flash"
         width="960" height="540" allowfullscreen="true"
         allowscriptaccess="always" wmode="opaque"
         flashvars="videoUrl=http://embed-0.wistia.com/deliveries/f05ed2c68ab439c7db399503c9ec711f77e422dc.bin&stillUrl=http://embed-0.wistia.com/deliveries/dc0dbb8c26c5c731d175c13efa4e53923a43ee69.bin&playButtonVisible=true&controlsVisibleOnLoad=false&unbufferedSeek=false&autoLoad=false&autoPlay=false&endVideoBehavior=default&embedServiceURL=http://distillery.wistia.com/x&accountKey=wistia-production_48337&mediaID=wistia-production_2841909&mediaDuration=97.56&hdUrl=http://embed-0.wistia.com/deliveries/39ecac9894bd84387eef0b2403ef35bae4a5fb91.bin">
  </embed>
</object>
</div>
<script src="http://embed-0.wistia.com/embeds/v.js"></script>

<script>
if(!navigator.mimeTypes['application/x-shockwave-flash'] ||
navigator.userAgent.match(/Android/i)!==null)Wistia.VideoEmbed('wistia_2841909','960','540',{videoUrl:'http://embed-0.wistia.com/deliveries/71dba63e2ecb0e04ea1f564b6e18060d63d25631.bin',stillUrl:'http://embed-0.wistia.com/deliveries/dc0dbb8c26c5c731d175c13efa4e53923a43ee69.bin',distilleryUrl:'http://distillery.wistia.com/x',accountKey:'wistia-production_48337',mediaId:'wistia-production_2841909',mediaDuration:97.56})
</script>

<script>
$(document).ready(function() {
    $('.video').fancybox({
        scrolling   : "no",
        wrapCSS     : "onb_final",              
        maxWidth    : 960,
        maxHeight   : 800,
        fitToView   : false,
        width       : '90%',
        height      : '90%',
        });  
    });
</script>
