<div id="wistia_modal" style="display: none;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<a href="//fast.wistia.net/embed/iframe/68smggp7hg?popover=true" class="wistia-popover[height=540,playerColor=7b796a,width=960]"><img src="https://embed-ssl.wistia.com/deliveries/dc0dbb8c26c5c731d175c13efa4e53923a43ee69.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=150x84" alt="" /></a>
</div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>

<script>
if(!navigator.mimeTypes['application/x-shockwave-flash'] ||
navigator.userAgent.match(/Android/i)!==null)Wistia.VideoEmbed('wistia_2841909','960','540',{videoUrl:'http://embed-0.wistia.com/deliveries/71dba63e2ecb0e04ea1f564b6e18060d63d25631.bin',stillUrl:'http://embed-0.wistia.com/deliveries/dc0dbb8c26c5c731d175c13efa4e53923a43ee69.bin',distilleryUrl:'http://distillery.wistia.com/x',accountKey:'wistia-production_48337',mediaId:'wistia-production_2841909',mediaDuration:97.56})
</script>

<script>
$(document).ready(function() {
    $('.video').fancybox({
        scrolling   : "no",
        wrapCSS     : "onb_final",              
        maxWidth    : 960,
        maxHeight   : 800,
        fitToView   : false,
        width       : '90%',
        height      : '90%',
        });  
    });
</script>
