<div id="wistia_modal" style="display: none;" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<iframe src="//fast.wistia.net/embed/iframe/68smggp7hg"
        allowtransparency="true" frameborder="0" scrolling="no"
        class="wistia_embed" name="wistia_embed" allowfullscreen
        mozallowfullscreen webkitallowfullscreen oallowfullscreen
        msallowfullscreen width="960" height="540"></iframe>
</div>

<script>
$(document).ready(function() {
    $('.video').fancybox({
        scrolling   : "no",
        wrapCSS     : "onb_final",              
        maxWidth    : 960,
        maxHeight   : 800,
        fitToView   : false,
        width       : '90%',
        height      : '90%',
        });  
    });
</script>
