{% extends "base.html" %}
{% load staticfiles %}


{% block extra_head %}
{% load compressed %}
{% compressed_js 'onboarding' %}
{% include "csrf.html" %}
{% endblock %}
{% block title %}
<title>Welcome to Sitterfied!</title>
{% endblock %}
{% block body %}
{% include "header.html" %}

<!-- container -->
<div class="container clear">
	<div class="wraper text_topmarg">

		<!-- onboarding_block -->
		<div class="onboarding_block clear">
			<p class="center"><img src="{% static "images/welcome.png" %}" alt="" /></p>
			<div class="you_friends you_friends2 clear">
				<p><span><img src="{% static "images/icons/you2.png" %}" alt="" /></span>You</p>
				<p><span><img src="{% static "images/icons/friends2.png" %}" alt="" /></span>Friends</p>
			</div>
			<p class="center">Ever been to a party where you’re the only one who doesn’t know anyone? So have we.
			</p>
			<div class="onb_step3_left form_style">
			  <p>
				<form method="post">
				  {% csrf_token %}
				{{form.sitter_groups}}
				</form>
			  </p>
			  <p>Find a person, group, school, club or organization
			  </p>
			  <p>
				<br>
			  </p>
			  <p>

				<input id="newgroup-input" type="text" placeholder="Create a new group">
				<a class="button button_small button2" id="newgroup-button">Create</a>

			  </p>

			  {% if request.user.facebook_token %}
			  <div class="face_connected connected clear">
				<a >
				  <img src="{% static "images/icons/facebook8.png" %}" alt="" />Connected
				</a>
			  </div>

			  {% else %}
			  <div class="face_disconnected" id="facebook">
				<a href="">
				  <img src="{% static "images/icons/facebook8.png" %}" alt="" />Find Friends on Facebook
				</a>
			  </div>

			  {% endif %}
			  {% if request.user.google_imported %}
			  <div class="gmail_connected connected clear">
				<a href="#">
				  <img src="{% static "images/icons/gmail3.png" %}" alt="" />Connected
				</a>
			  </div>
			  {% else %}
			  <div class="gmail_disconnected" id="google">
				<a href="">
				  <img src="{% static "images/icons/gmail3.png" %}" alt="" />Find Friends on Gmail
				</a>
			  </div>

			  {% endif %}
			</div>
			<div class="onb_step3_right">
				<!--<p>This is your network on Sitterfied</p>
				<p>Friends or groups will be added here</p>-->
				<ul>
				  {% for friend in request.user.friends.all %}
				  <li data-friend-id="{{friend.id}}">
					<a href="">
					  <img src="{{friend.avatar_url}}" alt="" />
					</a>
					<a href="">{{friend.get_full_name|title}}
					</a>
					<a href="" class="delete delete-friend">&nbsp;
					</a>
				  </li>
				  {% endfor %}
				  {% for group in request.user.sitter_groups.all %}
				  <li data-group-id="{{group.id}}" class="group">
					<a href="#">{{group.name}}
					</a>
					<a href="#" class="delete delete-group">&nbsp;
					</a>
				  </li>
				  {% endfor %}
				</ul>
			</div>
			<div class="button_wrap">
			  <a href="" class="button button_small skip">
				<span class="icon_next">&nbsp;
				</span>next
			  </a>
			  <a href="" class="skip">Skip for now
			  </a>
			</div>
		</div>
		<!-- /onboarding_block -->

	</div>
</div>
<!-- /container -->

{% include "footer.html" %}

<div id="fixed_tabs"></div>

<div class="back-to-top" id="back-top"><a href="javascript:void(0)" class="back-to-top">Top</a></div>
<script type="text/javascript">
function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}
function setGet(){
  selected = $("select").select2("val")
   $.param(selected)

}


$(function () {

    $("#back-top").hide();
    $(window).scroll(function () {
        if ($(this).scrollTop() > 150) {
            $('#back-top').fadeIn();
        } else {
            $('#back-top').fadeOut();
        }
    });
   $("select").select2({ width: 'resolve' })


   $("#newgroup-button").click(function(event){
	 newGroupName = $("#newgroup-input").val()
	 $.post("/api/groups/", {name: newGroupName}).done(function(data){
	   newGroup = $("<option>");
	   newGroup.attr("value", data.id);
	   newGroup.text(data.name);
	   $("#id_sitter_groups").append(newGroup);
	   $("#newgroup-input").val("")
	   oldval = $("#id_sitter_groups").select2("val")
	   oldval.push(data.id)
	   $("#id_sitter_groups").select2("val", oldval)
	 })
   });
   $("#facebook").click(function(){
	 FB.getLoginStatus(function(response) {
	   if (response.status === "connected") {
		 return use_fb_data();
	   } else if (response.status === "not_authorized") {
		 return FB.login(function() {
		   return use_fb_data();
		 });
	   }
	 }, true);
	 return false
   })
   $("#google").click(function(){
     google_window = window.open("/googleoauthbegin/")
	 google_window.onbeforeunload = function(){
         alert("google connected");
	     $("form").ajaxSubmit()
		 location.reload();
	 }
	 return false
   })
   $(".delete-friend").click(function(){
       li = $(this).closest('li')
	   friend_id = li.data('friend-id')
	   $.post("{% url "remove_friend" %}", {"friend_id":friend_id})
	 li.remove()
	 return false
   });
   $(".delete-group").click(function(){
       li = $(this).closest('li')
	   group_id = li.data('group-id')
	   $.post("{% url "remove_group" %}", {"group_id":group_id})
	 li.remove()
	 return false
   });
   $(".skip").click(function(){
	 $("form").submit()
	 return false
   })


 });

var use_fb_data;

use_fb_data = function() {
  var access_token, facebook_id, promise;
  access_token = FB.getAccessToken();
  facebook_id = FB.getUserID();
  return $.ajax({
      url: "/facebook_import/",
	 type: "POST",
	  data: {"token":access_token,
			 "id": facebook_id
			 },
      success: function() {
         alert("facebook connected");
	     $("form").ajaxSubmit()
		 location.reload();
      }
    });
 };


jQuery('.back-to-top').click(function () {
    jQuery('html, body').animate({
        scrollTop: 0
    }, 'slow');
});

</script>
{% endblock %}
