{% extends "base.html" %}
{% load staticfiles %}


{% block extra_head %}
{% load compressed %}
{% compressed_js 'onboarding' %}
{% endblock %}
{% block title %}
<title>Welcome to Sitterfied!</title>
{% endblock %}


{% block body %}
{% include "header.html" %}

<form action='{% url "onboarding2" %}' method="get">
<!-- container -->
<div class="container clear">
  <div class="wraper text_topmarg">

	<!-- onboarding_block -->
	<div class="onboarding_block clear">
	  <p class="center">
		<img src="{% static "images/welcome.png" %}" alt="" />
	  </p>
	  <p class="center">Congratulations. You just took an important first step toward babysitter nirvana.
	  </p>
	  <p class="center">You know a bit about us, now we’d love to hear more about you.
	  </p>
	  <p class="choose_parent_baby">First, are you a
		<input type="radio" id="parent" name="parent_or_sitter" value="parent" />
		<label for="parent">Parent
		</label> or a
		<input type="radio" id="babysitter" checked name="parent_or_sitter" value="sitter"/>
		<label for="babysitter">Babysitter
		</label>
	  </p>
	  <div class="button_wrap">
		<a class="button button_small" onclick='$("form").submit()'>
		  <span class="icon_next">&nbsp;
		  </span>next
		</a>
	  </div>
	</div>
	<!-- /onboarding_block -->

  </div>
</div>
</form>
<!-- /container -->

{% include "footer.html" %}

<div id="fixed_tabs"></div>

<div class="back-to-top" id="back-top"><a href="javascript:void(0)" class="back-to-top">Top</a></div>
<script type="text/javascript">
 $(function () {
   $("#back-top").hide();
   $(window).scroll(function () {
     if ($(this).scrollTop() > 150) {
       $('#back-top').fadeIn();
     } else {
       $('#back-top').fadeOut();
     }
   });
 });
 jQuery('.back-to-top').click(function () {
   jQuery('html, body').animate({
     scrollTop: 0
   }, 'slow');
 });
</script>

<script type="text/javascript" src="//s3.amazonaws.com/scripts.hellobar.com/e12e8fdf8d04502e0b6c4b41379e97f917b64d65.js"></script>
{% endblock %}
