
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block extra_head %}
{% load compressed %}
{% compressed_js 'onboarding' %}
{% include "csrf.html" %}
<script src="{% static "js/lib/PhoneFormat.js" %}">

<script>
  UPLOADCARE_CROP = "174x174 upscale";
</script>
{% endblock %}
{% block title %}
<title>Welcome to Sitterfied!</title>
{% endblock %}
{% block body %}
{% include "header.html" %}

<!-- container -->
<div class="container clear">
  <div class="wraper text_topmarg">

	<!-- onboarding_block -->
	<div class="onboarding_block clear">
	  <p class="center"><img src="{% static "images/welcome.png" %}" alt="" /></p>
	  <div class="you_friends clear">
		<p><span><img src="{% static "images/icons/you.png" %}" alt="" /></span>You</p>
		<p><span><img src="{% static "images/icons/friends.png" %}" alt="" /></span>Friends</p>
	  </div>
	  <form method="post" action="" class="form_style">
		<div class="profile_block">
		  <p>Great! Let’s get acquainted. First the basics...</p>
		  <div class="form_style">
			{% csrf_token %}
			<input type="hidden" name="parent_or_sitter" value="sitter">
			<ul>
			  <li>
				<ul>
                  <li>
                    <span class="icon_name">&nbsp;</span>Name

                    {% for error in form.first_name.errors %}
					<div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.last_name.errors %}
					<div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                  </li>

                  <li>
					<p>
					  {{form.first_name}}
					  {{form.last_name}}
					</p>
                    <div style="display: none;">
                      <img src="{{STATIC_URL}}images/checkbox.png" />
                    </div>
				  </li>

				</ul>
			  </li>
			  <li>
				<ul>
                  <li>
                    <span class="icon_age">&nbsp;</span>Age

                    {% for error in form.dob.errors %}
					<div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                  </li>

                  <li>
					<p>
					  <span class="short">date of birth*
					  </span>
					  {{form.dob}}
					</p>
					<p>
					  <i>* we hate to turn away good people but our lawyers require us to inform you that you
						<strong>must
						</strong> be at least 18 years old to join sitterfied
					  </i>
					</p>
				  </li>
				</ul>
			  </li>
			  <li>
				<ul>
				  <li>
					<span class="icon_gender">&nbsp;
					</span>Gender
				    {% for error in form.gender.errors %}
					<div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}
                  </li>

                  <li>
					<p>
					  {% for choice in form.gender %}
					  {{ choice.tag }}
					  <label for="gender_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
					  {% endfor %}
					</p>
				  </li>
				</ul>
			  </li>
			  <li>
				<ul>
                  <li>
                    <span class="icon_pin3">&nbsp;</span>Home Address
                    {% for error in form.address1.errors %}
					<div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.address2.errors %}
					<div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.city.errors %}
					<div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.state.errors %}
					<div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.zip.errors %}
					<div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}
                  </li>
				  <li>
					<p class="address_fields">
					  {{form.address1}}
					  {{form.address2}}
				    {{form.city}}
     				{{form.state}}
				    {{form.zip}}
					</p>
				  </li>
				</ul>
			  </li>
			  <li>
				<ul>
                  <li>
                    <span class="icon_iphone">&nbsp;</span>Cell Phone Number
                    {% for error in form.cell.errors %}
					<div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                  </li>
				  <li>
					<p>
					  {{form.cell}}
					</p>
				  </li>
				</ul>
			  </li>
			  <li>
				<ul>
                  <li>
                    <span class="icon_email">&nbsp;</span>Email Address
                      {% for error in form.email.errors %}
                      <div class="icon_error">
                        <p>{{ error|escape }}</p>
                      </div>
					  {% endfor %}
                  </li>
				  <li>
					<p>
					  {{form.email}}
					</p>
				  </li>
				</ul>
			  </li>
			  <li>
				<ul>
                  <li>
                    <span class="icon_pass2">&nbsp;</span>Password

                    {% for error in form.password1.errors %}
                    <div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.password2.errors %}
                    <div class="icon_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}
                  </li>

                  <li class="pass">
					<p>
					  {{form.password1}}
					  <strong>Confirm Password</strong>
					  {{form.password2}}
					</p>
				  </li>
				</ul>
			  </li>
			</ul>
		  </div>
		  <p>Now for the sell. Tell prospective parents how great you are. And <i>don’t hold back</i>!</p>
		  <div class="form_style">
			<ul>
			  <li>
				<ul>
				  <li>
					<span class="icon_bio">&nbsp;</span>Biography

                    <p>Keep it brief and relevant but show some personality. Remember, you have one shot to stand out!</p>
					<p>Cover the <strong>Why</strong> (you enjoy babysitting), <strong>Who</strong> (you’ve cared for in the past) and <strong>When</strong> (you did all this).</p>
				  </li>
				  <li>
					<p>
					  {{form.biography}}
					</p>
					<p class="b_styling"><a href="http://blog.sitterfied.com/post/64699230620/sell-yourself-like-the-donald#more" target="_blank">Click here</a> for more bio tips</p>

                    {% for error in form.biography.errors %}
                    <div class="icon_error biography_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}
				  </li>
				</ul>
			  </li>
			  <li>
				<ul>
                  <li>
                    <span class="icon_experience">&nbsp;</span>General<br />Experience
                    {% for error in form.total_exp.errors %}
                    <div class="icon_error experience_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.infant_exp.errors %}
                    <div class="icon_error experience_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.toddler_exp.errors %}
                    <div class="icon_error experience_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.preschool_exp.errors %}
                    <div class="icon_error experience_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.school_age_exp.errors %}
                    <div class="icon_error experience_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.pre_teen_exp.errors %}
                    <div class="icon_error experience_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.teen_exp.errors %}
                    <div class="icon_error experience_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.special_needs_exp.errors %}
                    <div class="icon_error experience_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                  </li>
				  <li>
					<p>
					  <span>TOTAL years of experience:
					  </span>
					  {{form.total_exp}}
					</p>
					<p>
					  <span>Experience with infants:
					  </span>
					  {{form.infant_exp}}
					</p>
					<p>
					  <span>Experience with toddlers:
					  </span>
					  {{form.toddler_exp}}
					</p>
					<p>
					  <span>Experience with preschoolers:
					  </span>
					  {{form.preschool_exp}}
					</p>
					<p>
					  <span>Experience with School age:
					  </span>
					  {{form.school_age_exp}}
					</p>
					<p>
					  <span>Experience with Pre Teens:
					  </span>
					  {{form.pre_teen_exp}}
					</p>
					<p>
					  <span>Experience with teenagers:
					  </span>
					  {{form.teen_exp}}
					</p>
					<p>
					  <span>Experience with special needs?</span>
					  {{form.special_needs_exp}}
					  <label for="id_special_needs_exp"></label>
					</p>
				  </li>
				</ul>
			  </li>
			  <li>
				<ul>
				  <li>
					<span class="icon_certification">&nbsp;
					</span>Certification
					<br />or Training
				    {% for error in form.certifications.errors %}
                    <div class="icon_error experience_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                  </li>
				  <li>
					<p>
					  <span>&nbsp;
					  </span>
					  {{form.certifications}}
					</p>
					<p>
					  <span>add another (if not listed above):
					  </span>
					  <input id="new-cert" type="text" />
					  <a id="new-cert-button" class="button button_smaller button_edit">
						<span class="icon_plus">&nbsp;
						</span>ADD
					  </a>
					</p>
				  </li>
				</ul>
			  </li>
			  <li>
				<ul>
				  <li>
					<span class="icon_rates">&nbsp;
					</span>Standard Rates
					<p>Using a rate range gives you the flexibility to charge more for jobs with additional service requests (like running errands)
					</p>

                    {% for error in form.one_child_min_rate.errors %}
                    <div class="icon_error rate_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                    {% for error in form.one_child_max_rate.errors %}
                    <div class="icon_error rate_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}


                    {% for error in form.two_child_min_rate.errors %}
                    <div class="icon_error rate_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}


                    {% for error in form.two_child_max_rate.errors %}
                    <div class="icon_error rate_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}


                    {% for error in form.three_child_min_rate.errors %}
                    <div class="icon_error rate_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}


                    {% for error in form.three_child_max_rate.errors %}
                    <div class="icon_error rate_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}



				  </li>
				  <li>
					<p>
					  <span>Minimum for 1 child:
					  </span>
					  {{form.one_child_min_rate}}
					</p>
					<p>
					  <span>Maximum for 1 child:
					  </span>
					  {{form.one_child_max_rate}}
					</p>
					<p>
					  <span>Minimum for 2 children:
					  </span>
					  {{form.two_child_min_rate}}
					</p>
					<p>
					  <span>Maximum for 2 children:
					  </span>
					  {{form.two_child_max_rate}}
					</p>
					<p>
					  <span>Minimum for 3 or more children
					  </span>
					  {{form.three_child_min_rate}}
					</p>
					<p>
					  <span>Maximum for 3 or more children
					  </span>
					  {{form.three_child_max_rate}}
					</p>
				  </li>
				</ul>
			  </li>
			  <li>
				<ul>
				  <li>
					<span class="icon_pic">&nbsp;</span>Profile Picture
					<p>Like it or not we’re visual beings and adding a photo of yourself breaks down big trust barriers. </p>
					<p>You’ll have the option to use your Facebook pic or upload your own. </p>

                    {% for error in form.avatar.errors %}
                    <div class="icon_error avatar_error">
                      <p>{{ error|escape }}</p>
                    </div>
                    {% endfor %}

                  </li>
				  <li>
					{{form.avatar}}
					<div class="add_photo">
					  <a class="add">
						<p>Add your photo</p>
					  </a>
					  <p class="b_styling"><a href="http://blog.sitterfied.com/post/62361055222/a-pictures-worth-a-thousand-words-so-give-your-profile" target="_blank">Click here</a> for more photo tips</p>
					</div>
					<div class="add_photo_desc">
					  <p>Use these simple guidelines to get the most out of your photo.</p>
					  <ol>
						<li>Smile <i>(really important)</i></li>
						<li>Just you in the photo</li>
						<li>Clear and Bright</li>
						<li>Close up</li>
					  </ol>
					</div>
				  </li>
				</ul>
			  </li>
			</ul>
		  </div>
		</div>
	  </form>
	  <div class="button_wrap"><button id="register" class="button button_small"><span class="icon_next">&nbsp;</span>next</a></div>
	</div>
	<!-- /onboarding_block -->

  </div>
</div>
<!-- /container -->

{% include "footer.html" %}

<div id="fixed_tabs"></div>

<div class="back-to-top" id="back-top"><a href="javascript:void(0)" class="back-to-top">Top</a></div>
<script type="text/javascript">
 $(function () {
   var widgets = uploadcare.initialize();
   var widget = widgets[0]
   widget.onUploadComplete(function(info) {
     url = info.cdnUrl
	 path =  'url(' + url + ')'

	 add = $(".add");
	 add.css('background', path );
	 add.css("background-size","cover")
	 add.css("background-repeat", "no-repeat");
     add.css("max-width", "237px");
     add.css("max-height", "237px");

   });
   $("#back-top").hide();
   $(window).scroll(function () {
     if ($(this).scrollTop() > 150) {
       $('#back-top').fadeIn();
     } else {
       $('#back-top').fadeOut();
     }
   });
   $(".add_photo").click(function(){
	 dialog = widget.openDialog();
   })

   $("#new-cert-button").click(function(){
	 newcert = $("#new-cert").val()
	 $.post("/api/certifications/", {certification: newcert}).done(function(data){
	   newoption = $("<option>");
	   newoption.attr("value", data.id);
	   newoption.text(data.certification);
	   $("#id_certifications").append(newoption);
	 })
   });

   $("#register").click(function(){
	 if (submitted){return}
	 submitted = true
	 cell = $("#id_cell")
	 num = cell.val()
	 formatted_num = formatE164("US", num);
	 cell.val(formatted_num)
	 $("form").submit();
   });
   $("#id_cell").blur(function(){
	 that = $(this)
	 num = that.val()
	 formatted_num = formatLocal("US", num);
	 that.val(formatted_num)
   })
   $("select").select2({ width: 'resolve' })

 });
 jQuery('.back-to-top').click(function () {
   jQuery('html, body').animate({
     scrollTop: 0
   }, 'slow');
 });

var submitted = false;

$(document).ready(function() {
    $('.icon_error').parents('li').each(function() {
        $(this).next('li').children('p').addClass('error_field');
    });

    if ($('.icon_error').length > 0) {
        $('.pass').children('p').addClass('error_field');
    }
});
</script>
{% endblock %}
