{% extends "base.html" %}

{% block title %}
Sitterfied
{% endblock title %}

{% block bodyclass %}
id="referrals"
{% endblock bodyclass %}

{% block topcontainer %}
<div class="halfvspacer"></div>
<div class="halfvspacer"></div>
<div class="quartervspacer"></div>
<div class="row-fluid">
  <div class="span12">
    <h2 class="centeralign greenblue fontthirtysix">Invite your friends to Sitterfied</h2>
  </div>
</div>
<div class="halfvspacer"></div>
<div class="row-fluid">
  <div class="span12 ">
    <img  class="centeralign-image" src="{{STATIC_URL}}img/largeheart.jpg">
  </div>
</div>
{% endblock topcontainer %}

{% block content %}
  <div class="halfvspacer"></div>
  <div class="quartervspacer"></div>
  <div class="row-fluid">
    <div class="span12">
      <p class="centeralign lightblue fonttwentyfour">Build a team and gain early access</p>
    </div>
  </div>
  <div class="quartervspacer"></div>
  <div class="row-fluid">
    <div class="span8 offset2 centeralign">
      <p>We're confident you'll like Sitterfied and we think your friends will too. Help us spread the word, track your referrals here and we'll let you know when it's time to come aboard!</p>
    </div>
  </div>
  <div class="quartervspacer"></div>
  <div class="row-fluid icons">
    <div class="span6 offset3 centeralign" style="position:relative;">
      {% if referrals|length != 5 %}
      <div class="pillbox">
        <span class="orangebox"></span>
        {% for r in referrals %}
        <span class="orangebox"></span>
        {% endfor %}
        <p class="cursive">
          {% if referrals|length == 4 %}
            One to go!
          {% elif referrals|length == 3 %}
            2 more friends
          {% elif referrals|length == 2 %}
            3 more friends needed
          {% elif referrals|length == 1 %}
            4 friends needed for early access
          {% elif referrals|length == 0 %}
            5 friends needed for early access
          {% endif %}
        </p>
      </div>
      {% elif referrals|length == 5 %}
      <div class="pillbox bgaqua">
        <p class="white fonteighteen"> <b>Congratulations! Check your email for your welcome pack.</b></p>
      </div>
      {% endif %}
      <div class="clear"></div>
      {% if referrals|length != 5 %}
      <span>
        <div class="clearbox"></div>
        {% for r in referrals %}
        <div class="clearbox"></div>
        {% endfor %}
      </span>
      <div class="clear"></div>
      <div style="width:150px;padding-left:{{padding_left}}px;">
        <p class="lightblue" >
          {% if referrals|length == 4 %}
            Four friends have joined your team
          {% elif referrals|length == 3 %}
            Three friends have joined your team
          {% elif referrals|length == 2 %}
            Two friends have joined your team
          {% elif referrals|length == 1 %}
            One friend has joined your team
          {% elif referrals|length == 0 %}
            Thanks for joining!
          {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="halfvspacer"></div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>
  <div class="row-fluid" style="padding-left:20px;">
    <div class="span6 ">
      <div class="row-fluid border-right">
        <div class="row-fluid">
          <div class="span9 lightblue fonteighteen">
            <b>Invite by email</b>
          </div>
        </div>
        <div class="row-fluid">
          <form id="invite_email_form">
            <input type="hidden" id="referral_link" name="referral_link" value="">
            <div class="row-fluid">
              <div class="span5 offset6 rigthtalign">
                <a class="cs_import aqua">Add from Address Book</a>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span11">
                <input class="email_input input-block-level inputborder" name="email" id="contact_list" type="email" placeholder="Enter email addresses (separate with a comma)">
              </div>
            </div>
            <div class="row-fluid">
              <div class="span11">
                <textarea class="span10 inputborder"  cols="40" rows="5" name="personal_message" id="emailtext">
A new way to see all of our babysitters and book them online! If you sign up with me, we can get early access and test it out.</textarea>
              </div>
            </div>
        </div>
        <div class="row-fluid">
          <div id="thanksforemail" class="span7 semi-bold">
          </div>
          <div class="span4">
            <button id="sendbutton" class="btn btn-info pull-right">SEND INVITES</button>
          </div>
        </form>
        </div>
      </div>

    </div>
    <div class="span6 right-padding">
      <div class="row-fluid">
        <div class="span12">
          <b class="lightblue fontsixteen">Invite friends from Facebook or Twitter</b>
          <textarea class="span12 inputborder" rows="3" id="sharetext" style="margin-top:5px" >Join me @sitterfied for an early invite to find and book trusted sitters online! Sign up for free:</textarea>
          <div class="span1 offset10"><p id="twittercount"></p></div>
          <div class="halfvspacer"></div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4 pull-right">
          <img  src="{{STATIC_URL}}img/twittershare.png" class="pointer tweetbutton" onclick="tweet()">
        </div>
        <div class="span5 pull-right">
          <img src="{{STATIC_URL}}img/facebookshare.png" class="pointer" onclick="facebook()">
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <hr>
    </div>
  </div>
  <div class="halfvspacer"></div>
  <div class="row-fluid">
    <div class="span12 centeralign form-horizontal lightblue" style="position:relative;">
      or use this link with friends: <input type="text" readonly value="{{request.get_host}}{{refer_url}}">
      <button data-clipboard-text="{{request.get_host}}{{refer_url}}" class="btn btn-info copy-button">COPY LINK</button>
      <span class="copied"><i>Copied!</i></span>
    </div>
  </div>
  <div class="halfvspacer"></div>

  <div class="halfvspacer"></div>
</div>
{% endblock content %}

{% block body_media %}
<script type="text/javascript">
refer_url = ""

tweet = function() {
    totweet = $("#sharetext").val()
    totweet = encodeURIComponent(totweet)
    tweet_link = "https://twitter.com/share?related=sitterfied&text=" + totweet
    newwindow=window.open(tweet_link,'tweet this','height=260,width=510');
	if (window.focus) {newwindow.focus()}
	return false;
}

facebook = function(){
    toshare = $("#sharetext").val()
    toshare = encodeURIComponent(toshare)

    app_id="app_id=141907389308388"
    link="link=" + refer_url

    picture="picture=" + window.location.origin + "{{STATIC_URL}}img/heart.png"
    redirect_uri="redirect_uri=https://www.facebook.com"
    name="name=Sitterfied"
    caption="caption=Friend%20Verified.%20Search%20Simplified"
    description="description=" + toshare

    share_link =  "http://www.facebook.com/dialog/feed?" + app_id + "&" + link +  "&" + name + "&" + caption + "&" + description +  "&" + redirect_uri +  "&" + picture
    newwindow=window.open(share_link,'share this','height=500,width=1200');
	if (window.focus) {newwindow.focus()}
	return false;
}

$(function(){
    var clip = new ZeroClipboard( $(".copy-button"), {
        moviePath: "{{STATIC_URL}}swf/ZeroClipboard.swf"
    });
    clip.on( 'complete', function(client, args) {
        cc = $('.copied')
        cc.fadeIn(500)
        setTimeout(function(){
            cc.fadeOut(500)
        }, 3000)
    });


    $("#invite_email_form").submit(function(e){
        var data = $(this).serialize();
        e.preventDefault();
        $.ajax({
            url: "{% url 'invite_email_submit' %}",
            type: "POST",
            data: data,
        }).success(function(data){
            $("#thanksforemail").html("Email sent. Thanks for sharing!")

        })
        return false
    });



})

</script>
<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>
<script type="text/javascript" charset="utf-8">
var csPageOptions = {
  domain_key:"Q6YB3YJYFBRKAHRURUMV",
  textarea_id:"contact_list",
  include: ['email'],
};
</script>

{% endblock body_media %}
