{% extends "email_base.html" %}
{% block iconpath %}checkicon.png{% endblock %}
{% block message %}

<p style="font-weight:24px;color:#104952;"><b>Hi {{first_name}}!</b></p>
Welcome to Sitterfied! We’re really excited that you’ve
decided to sign up with us. You’ll see your invite in the
next several months when the beta team wraps up their
testing. Interested in joining the
beta? <a href="http://www.sitterfied.com">Bring a few friends</a> and
it’ll be our pleasure to get you involved. We have a lot
of <a href="http://www.sitterfied.com/about/">great features</a> on
the way to help you find and book sitters you can trust.
<br><br>
In the meantime, if you have questions, <a href="mailto:hello@sitterfied.com">send us an email</a>, <a href="http://www.twitter.com/sitterfied">tweet</a> or write on Sitterfied’s <a href="http://www.facebook.com/sitterfied">Facebook</a> page. Check out our <a href="http://sitterfied.tumblr.com">blog</a> too!
<br><br>
We know you’ll love Sitterfied and we can’t wait to share it with you.
<br><br>
Thanks again for signing up!

{% endblock message %}

{% block ps %}
<hr>

<a href="{{signup_url}}"><img style="display:block;margin:0 auto;padding-top:10px;" id="betabutton" src="{{full_static_url}}email/images/joinbetabutton.png"  alt=""></a>
{% endblock ps %}
