				  <p class="child_number">CHILD 1
                  </p>
				  <p class="small_selects">
                    <span>FIRST NAME
                    </span>
                    <input type="text" value="" />
                    <span>DATE OF BIRTH
                    </span>
                    <select data-placeholder="MONTH" tabindex="3">
                      <option>MONTH
                      </option>
                      <option>MONTH
                      </option>
                    </select>
                    <select data-placeholder="DAY" tabindex="4">
                      <option>DAY
                      </option>
                      <option>DAY
                      </option>
                    </select>
                    <select data-placeholder="YEAR" tabindex="5">
                      <option>YEAR
                      </option>
                      <option>YEAR
                      </option>
                    </select>
                  </p>
				  <p>
                    <span>SCHOOL
                    </span>
                    <input type="text" class="long" value="" />
                  </p>
				  <p>
                    <span>Special needs?
                    </span>
                    <select multiple data-placeholder="Choose all that apply" tabindex="18">
                      <option>text
                      </option>
                      <option>text
                      </option>
                    </select>
                    <input type="checkbox" id="none" />
                    <label for="none">NONE
                    </label>
                  </p>
				  <p>
                    <span class="two_row">Not listed?
                      <br />Add another
                    </span>
                    <input type="text" value="Add special need" />
                  </p>
