<li>
  <div class="tit">
	<span><strong>{{one_child_min_rate}}</strong> /hr</span>
	{{# linkTo "sitter" id}}{{full_name}}{{/linkTo}}
  </div>
  <div class="img">
	{{# linkTo "sitter" id}}<img {{bindAttr src="avatar" alt="full_name"}} />{{/linkTo}}
  </div>
  <ul>
	<li><span class="icon_plus_box">&nbsp;</span>Last hired: <span>April 23, 2013</span></li>
	<li><span class="icon_reload">&nbsp;</span>4 jobs <span class="friends_span"><span class="icon_friends4">&nbsp;</span><a href="#">24 sitter friends</a></span></li>
  </ul>
  <div class="btns clear">
	<a class="button" href="#">BOOK</a>
	<p><a href="#">REMOVE FROM SITTER TEAM</a></p>
  </div>
</li>
