/* Global styles */

@font-face {
  font-family: fontello;
  src: url('./fonts/fontello.eot?40549660');
  src:
    url('./fonts/fontello.eot?40549660#iefix') format('embedded-opentype'),
    url('./fonts/fontello.woff2?40549660') format('woff2'),
    url('./fonts/fontello.woff?40549660') format('woff'),
    url('./fonts/fontello.ttf?40549660') format('truetype'),
    url('./fonts/fontello.svg?40549660#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 0.875em !important;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #F7F7F7;
  color: #444;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:global(#app) {
  min-height: 100%;
  min-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mainContent {
  padding-top: 4.5rem;
}
