<div class="container clear">
  <div class="wraper">

	<!-- network_block -->
	<div class="network_block">
	  <ul class="soc_psg_list soc_psg_list_single clear">
		<li>
		  <ul>
			<li>Mutual Parent Friends (4)</li>
			<li><a href="#"><img src="/static/images/demo/img15.jpg" alt="" /></a><a href="#">Mika Pinna</a></li>
			<li><a href="#"><img src="/static/images/demo/img15.jpg" alt="" /></a><a href="#">Lakeisha Powanda</a></li>
			<li><a href="#"><img src="/static/images/demo/img15.jpg" alt="" /></a><a href="#">Connie Takach</a></li>
			<li><a href="#"><img src="/static/images/demo/img15.jpg" alt="" /></a><a href="#">Jane Eyre</a></li>
		  </ul>
		</li>
		<li>
		  <ul>
			<li>Mutual Sitter Friends (3)</li>
			<li><a href="#"><img src="/static/images/demo/img15.jpg" alt="" /></a><a href="#">Lakeisha Powanda</a></li>
			<li><a href="#"><img src="/static/images/demo/img15.jpg" alt="" /></a><a href="#">Connie Takach</a></li>
			<li><a href="#"><img src="/static/images/demo/img15.jpg" alt="" /></a><a href="#">Jane Eyre</a></li>
		  </ul>
		</li>
		<li>
		  <ul>
			<li>Mutual Groups (3)</li>
			<li><a href="#">Hoboken Catholic Church</a> <a href="#" class="delete">&nbsp;</a></li>
			<li><a href="#">St Francis Prep School</a> <a href="#" class="delete">&nbsp;</a></li>
			<li><a href="#">Hoboken Mommies</a> <a href="#" class="delete">&nbsp;</a></li>
		  </ul>
		</li>
	  </ul>
	</div>
	<!-- /network_block -->

  </div>
</div>