{{! Sitter profile review is used to display reviews called from a read only profile page. }}
{{! Any kind of user (parent or sitter) can see this review. }}

<li>
  <a >
    <img {{bindAttr src="parentAvatarUrl"}} alt="" />
  </a>
  <div class="desc">
    <p>
      {{# linkTo 'parent' parent }}{{parent.full_name}}{{/linkTo}}
      <span class="has_hired_text">
        - has hired {{sitter.first_name}}
      </span>
    </p>
    {{#if recommended }}<div class="reco_btn badge"><span class="icon_ok3">&nbsp;</span>Recommends</div>{{/if}}
    {{#if rehire}}<div class="rehire_btn badge"><span class="icon_rehire2">&nbsp;</span>Will Rehire</div>{{/if}}
    {{#if inSitterTeam}}<div class="sitter_team_btn badge"><span class="icon_heart3">&nbsp;</span>On Sitter Team</div>{{/if}}
    <p>{{review}}</p>
  </div>
</li>
