# -*- coding: utf-8 -*-
# -*- mode: python -*-
from celery.schedules import crontab
from kombu import Exchange, Queue
from urllib import quote_plus

from .base import *

# Import environment specific values
if '{{getv "/sitterfied/website/environment"}}' == 'test':
    from .test.facebook import *
    from .test.google import *
    from .test.hellobar import *
    from .test.intercom import *
    from .test.knowtify import *
    from .test.mandrill import *
    from .test.segment import *
    from .test.sideswipeio import *
    from .test.twilio import *
    from .test.uploadcare import *
else:
    from .production.facebook import *
    from .production.google import *
    from .production.hellobar import *
    from .production.intercom import *
    from .production.knowtify import *
    from .production.mandrill import *
    from .production.segment import *
    from .production.sideswipeio import *
    from .production.twilio import *
    from .production.uploadcare import *

DEBUG = TEMPLATE_DEBUG = {{getv "/sitterfied/website/debug"}}

SERVER_EMAIL = '{{getv "/sitterfied/website/server/email"}}'

SESSION_COOKIE_NAME = '{{getv "/sitterfied/website/session/cookie/name"}}'

ELASTICACHE_ENDPOINT = '{{getv "/sitterfied/website/elasticache/endpoint"}}'

REDIS_URL = 'redis://{}'.format(ELASTICACHE_ENDPOINT)

CACHES = {
    'default': {
        'BACKEND': 'redis_cache.RedisCache',
        'LOCATION': ELASTICACHE_ENDPOINT,
        'OPTIONS': {
            'DB': 1,
            'PARSER_CLASS': 'redis.connection.HiredisParser',
            'PICKLE_VERSION': 2,
        },
    },
}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'sitterfied',
        'USER': 'sitterfied',
        'PASSWORD': '{{getv "/sitterfied/website/database/password"}}',
        'HOST': '{{getv "/sitterfied/website/database/host"}}',
        'PORT': 5432,
    }
}

MIDDLEWARE_CLASSES += (
    'django.middleware.gzip.GZipMiddleware',
    'pipeline.middleware.MinifyHTMLMiddleware',
)

BROKER_URL = '{{getv "/sitterfied/website/celery/broker/url"}}'
BROKER_POOL_LIMIT = 1  # Will decrease connection usage
BROKER_CONNECTION_TIMEOUT = 30  # May require a long timeout due to Linux DNS timeouts etc
BROKER_HEARTBEAT = 30  # Will detect stale connections faster

CELERY_DEFAULT_QUEUE = '{{getv "/sitterfied/website/celery/default/queue"}}'
CELERY_QUEUES = (
    Queue(CELERY_DEFAULT_QUEUE, Exchange(CELERY_DEFAULT_QUEUE, routing_key=CELERY_DEFAULT_QUEUE)),
)

# Celery Beat Configuration
CELERYBEAT_SCHEDULE = {
    'check-for-completed-jobs': {
        'task': 'sitterfied.app.tasks.jobs.check_for_completed_jobs',
        'schedule': crontab(minute='5'),
    },
    'check-for-canceled-jobs': {
        'task': 'sitterfied.app.tasks.jobs.check_for_canceled_jobs_with_incorrect_status',
        'schedule': crontab(hour='0', minute='15',),
    },
    'mark-expired-jobs': {
        'task': 'sitterfied.app.tasks.jobs.mark_expired_jobs',
        'schedule': crontab(minute='10'),
    },
    'update-knowtify': {
        'task': 'sitterfied.utils.knowtify.update_knowtify',
        'schedule': crontab(hour=22, minute=3, day_of_week='Mon'),
    },
}
