{{# if isLoading }}
  <img class="loading" src="/static/images/loading.gif">
{{/ if}}
<a class="button button_small" {{action save}}><span class="icon_ok2">&nbsp;</span>Save</a>

<span class="saved" css="display:none;">Saved!</span>
<span class="error" css="display:none;">There was an error saving your data</span>
