{{# if view.isSaved }}
  {{ partial "save_successful_alert" }}
{{/ if}}
{{# if view.isError }}
  {{ partial "save_failure_alert" }}
{{/ if}}

<a class="button button_small" {{action "doAction" target=view}}>
  <span class="icon_ok2">&nbsp;</span>
  {{#if view.isLoading }}
    <i class="fa fa-spinner fa-spin"></i>
  {{ else }}
    Save
  {{/if}}
</a>
