      <!-- header -->
        <header class="header">
	      <div class="wraper">
		    {{# linkTo index class="logo"}}
            <img src="/static/img/logo.png" alt="" />
            {{/linkTo}}
		    <!-- top menu -->
            <div class="menu_trigger"></div>
            <nav>
              <ul>
                <li>{{#linkTo search }} Search {{/linkTo}}</li>
	            <li><a href="#">Bookings</a></li>
	            <li><a href="#"><img src="/static/img/demo/img.jpg" alt="" /> Alex</a></li>
              </ul>
            </nav>
		    <!-- /top menu -->
		    <!-- top note -->
		    <div class="top_note">
		    </div>
		    <!-- /top note -->
		    <div class="top_info clear">
              {{outlet topInfo}}
            </div>
	      </div>
        </header>
        <!-- /header -->

        <div class="container clear">
	      <div class="wraper">
            {{outlet container}}
          </div>
        </div>

        <footer class="footer">
	      <div class="wraper">
		    <a href="#" class="logo_bottom"><img src="/static/img/logo_bottom.png" alt="" /></a>
		    <!-- bottom menu -->
            {{outlet footer}}
		    <!-- /bottom menu -->
	      </div>
        </footer>
