	  <!-- tabs_wrap -->
	  <div class="tabs_wrap my_tabs_style tabs_no_results">
		<ul class="tab_select">
		  <li><a href="#tab-1">sitter<br />team<span>0</span></a></li>
		  <li><a href="#tab-2">friends<br />sitters<span>0</span></a></li>
		  <li><a href="#tab-3">local<br />sitters<span>0</span></a></li>
		</ul>

		<!-- my_sitter_team -->
		<div class="mob_tab_trigger my_mob_tab">sitter<br />team<span>0</span></div>
		<div class="tab_content my_sitter_team" id="tab-1">
		  <!-- sitter team 0 -->
		</div>
		<!-- /my_sitter_team -->

		<!-- my_friends_sitters -->
		<div class="mob_tab_trigger my_mob_tab">friends<br />sitters<span>0</span></div>
		<div class="tab_content friends_block my_friends_sitters" id="tab-2">
		  <!-- friends sitters 0 -->
		</div>
		<!-- /my_friends_sitters -->

		<!-- my_local_sitters -->
		<div class="mob_tab_trigger my_mob_tab">local<br />sitters<span>0</span></div>
		<div class="tab_content my_local_sitters" id="tab-3">
		  <!-- local sitters 0 -->
		</div>
		<!-- /my_local_sitters -->

	  </div>
	  <!-- /tabs_wrap -->

	  <!-- no_results -->
	  <div class="no_results clear">
		<p>We’re not in your neighborhood just yet.</p>
		<p>Here are a few things you can do right now.</p>
		<ul>
		  <li>
			<p><a href="#" class="button">Invite</a></p>
			<p>Invite your friends and discover great sitters together. We’ll even reward you and your friends with free months as they join Sitterfied</p>
		  </li>
		  <li>
			<p><a href="#" class="button">Connect</a></p>
			<p>Connect with your existing social networks to find great sitters through your friends</p>
		  </li>
		  <li>
			<p><a href="#" class="button">Sign Up</a></p>
			<p>Sign up to follow our progress and we’ll let you know when great sitters are added to your area</p>
		  </li>
		</ul>
	  </div>
	  <!-- /no_results -->
