{{# if view.isSaved }}
  {{ partial "save_successful_alert" }}
{{/ if}}
{{# if view.isError }}
  {{ partial "save_failure_alert" }}
{{/ if}}

<a class="button button_small button_cancel" {{action "doAction" target=view}}>
  {{#if view.isLoading }}
    <i class="fa fa-spinner fa-spin"></i>
  {{ else }}
    Reset
  {{/if}}
</a>
