description "BeatCop Service"
author "Andrew Lewisohn <alewisohn@sitterfied.com>"

# When to start the service
start on virtual-filesystems

# When to stop the service
stop on runlevel [06]

# Automatically restart process if crashed
respawn

# Run before process
pre-start script
    [ -d /var/run/beatcop ] || mkdir -p /var/run/beatcop
end script

env PYTHONPATH={{ application_root }}

# Start the process
script
    . /etc/environment
    export DJANGO_SETTINGS_MODULE
    exec {{ application_virtualenv_bin }}/python {{ application_virtualenv_bin}}/beatcop /etc/beatcop.d/beatcop.ini >> /var/log/beatcop.log 2>&1
end script

# Run after start
post-start script
    PID=`status beatcop | egrep -oi '([0-9]+)$' | head -n1`
    echo $PID > /var/run/beatcop/beatcop.pid
end script

# Run after stop
post-stop script
    rm -f /var/run/beatcop/beatcop.pid
end script