{% verbatim %}
<div id="editcreditcardinfo" class="modalwindow">
    <div class="modalwindow-title">Update payment details</div>
    <div class="modalwindow-content">
        <form>            
            <div class="add-edit-credit-card-info">
                <div class="titlecard">Credit Card</div>
                <div class="clearfix">
                    <div class="block-add-edit-card">               
                        <div class="form-mycard-info">
                            <img src="/static/images/icons/card_big.png">
                            <div class="card-number clearfix">
                                {{view Ember.TextField id="creditcard_number1" classNames="text-field1 cardnumberfeild" maxlength="4" }}
                                {{view Ember.TextField id="creditcard_number2" classNames="text-field1 cardnumberfeild" maxlength="4" }}
                                {{view Ember.TextField id="creditcard_number3" classNames="text-field1 cardnumberfeild" maxlength="4" }}
                                {{view Ember.TextField id="creditcard_number4" classNames="text-field1 cardnumberfeild" maxlength="4" }}
                            </div>
                            {{view Ember.TextField id="ccv" classNames="text-field5 cardcvvnubmer" maxlength="3" value="***"}}
                            <div class="add-edit-card-month-year clearfix">
                                {{view Ember.TextField id="creditcard_month" classNames="text-field6 cardmonthyear" maxlength="2"}}
                                {{view Ember.TextField id="creditcard_year" classNames="text-field6 cardmonthyear" maxlength="2"}}
                            </div>
                            <div class="credit-card-logo clearfix">
                                
                            </div>
                        </div>
                        <div class="cardstatusmessages">
                            <strong>STATUS:</strong>
                            <em class="verify_message">Verifying...</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-billing-address">
                <div class="titlebilling">Billing Address</div>
                <div class="form-billing-address">
                    <div class="clearfix form-feilds-row">
                        <div class="form-item form-feild-street-address">
                            {{view Ember.TextField id="billing_street_address" classNames="form-text" placeholder="Street address"}}
                        </div>
                        <div class="form-item form-feild-suite">
                            {{view Ember.TextField id="billing_extended_address" classNames="form-text" placeholder="Apt/Suite"}}
                        </div>
                    </div>
                    <div class="clearfix form-feilds-row">
                        <div class="form-item form-feild-Zip">
                            {{view Ember.TextField id="billing_postal_code" classNames="form-text" placeholder="Zip"}}
                        </div>
                        <div class="form-item form-feild-address-select1">
                            <select id="billing_locality" data-placeholder="">
                                {{# each city in controllers.controller.currentUser.cities }}
                                    <option>{{city.name}}</option>
                                {{/each}}
                            </select>                        
                        </div>
                        <div class="form-item form-feild-address-select2">
                            <select id="billing_region" data-placeholder="">
                                {{# each state in controllers.controller.currentUser.states }}
                                    <option>{{state.geoname_code}}</option>
                                {{/each}}
                            </select>                        
                        </div>
                    </div>                    
                </div>
                <div class="form-action clearfix">
                    {{view Sitterfied.AjaxStateButtonLink valueBinding="controllers.controller.currentUser.isLoading" action="savePaymentDetails" class="button button_small save_payment_details" saveText="Save"}}
                </div>
            </div>            
        </form>
    </div>
</div>
{% endverbatim %}