[uwsgi]
master = true
die-on-term = true
socket = {{ uwsgi_socket }}
pythonpath = {{ application_root }}
module = sitterfied.wsgi:application
processes = {{ uwsgi_processes }}
threads = {{ uwsgi_threads }}
logto = /var/log/sitterfied/uwsgi.log
