start on virtual-filesystems
stop on runlevel [06]

setuid {{ uwsgi_user }}
setgid {{ uwsgi_user }}

env PYTHONPATH={{ application_root }}
{% if no_python_bytecode_please | default(False) %}
env PYTHONDONTWRITEBYTECODE=1
{% endif %}

script
    . /etc/environment
    export DJANGO_SETTINGS_MODULE
    exec {{ application_virtualenv_bin }}/uwsgi /etc/uwsgi.d/sitterfied.ini
end script
