    {{# view Sitterfied.MobTriggerView }}
	  <span>{{completedJobs.length}}</span>Completed Jobs
    {{/ view}}
	<!-- completed_jobs_block -->
	<div class="subtab_content completed_jobs_block" id="tab-1-3">
      <ul class="booking_list">
        test
		{{# each booking in completedJobs }}
          {{ render "booking" booking }}
        {{/ each}}
      </ul>
	</div>
	<!-- /completed_jobs_block -->
