@font-face {
  font-family: "marketo";
  src: url(/static/css/fonts/marketotbold.eot);
  src: url(/static/css/fonts/marketotbold.eot?#iefix) format('eot'), url(/static/css/fonts/marketotbold.woff) format('woff'), url(/static/css/fonts/marketotbold.ttf) format('truetype'), url(/static/css/fonts/marketotbold.svg) format('svg');
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_reg-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_reg-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_reg-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_reg-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_reg-webfont.svg) format('svg');
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_bold-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_bold-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_bold-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_bold-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_bold-webfont.svg) format('svg');
  font-weight: bold;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_reg_it-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_reg_it-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_reg_it-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_reg_it-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_reg_it-webfont.svg) format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_bold_it-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_bold_it-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_bold_it-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_bold_it-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_bold_it-webfont.svg) format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova SBold";
  src: url(/static/css/fonts/proxima_nova_sbold-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_sbold-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_sbold-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_sbold-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_sbold-webfont.svg) format('svg');
}

@font-face {
  font-family: "Proxima Nova SBold";
  src: url(/static/css/fonts/proxima_nova_sbold_it-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_sbold_it-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_sbold_it-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_sbold_it-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_sbold_it-webfont.svg) format('svg');
  font-weight: normal;
  font-style: italic;
}

/* line 69, ../sass/_util.scss */
::-webkit-input-placeholder {
  font-family: 'Proxima Nova', sans-serif !important;
}

/* line 72, ../sass/_util.scss */
::-moz-placeholder {
  font-family: 'Proxima Nova', sans-serif !important;
}

/* firefox 19+ */
/* line 75, ../sass/_util.scss */
:-ms-input-placeholder {
  font-family: 'Proxima Nova', sans-serif !important;
}

/* ie */
/* line 78, ../sass/_util.scss */
input:-moz-placeholder {
  font-family: 'Proxima Nova', sans-serif !important;
}

/* line 82, ../sass/_util.scss */
backgroundTransition, .facebook:hover, .twitter:hover, .mail:hover {
  -webkit-transition: background 300ms ease-in;
  -moz-transition: background 300ms ease-in;
  -o-transition: background 300ms ease-in;
  transition: background 300ms ease-in;
}

/* line 88, ../sass/_util.scss */
div, h1, #notharmed, button {
  font-family: 'Proxima Nova', sans-serif !important;
}

/* line 91, ../sass/_util.scss */
.cursive {
  font-family: 'marketo', sans-serif !important;
}

/* line 95, ../sass/_util.scss */
.cursive {
  font-size: 22px;
  color: #3fb0bd;
}

/* line 101, ../sass/_util.scss */
.semi-bold {
  font-family: 'Proxima Nova SBold', sans-serif !important;
}

/* line 108, ../sass/_util.scss */
.rel {
  position: relative;
}

/* line 111, ../sass/_util.scss */
.halfvspacer {
  padding-top: 20px;
}

/* line 114, ../sass/_util.scss */
.quartervspacer {
  padding-top: 16px;
}

/* line 117, ../sass/_util.scss */
.fullvspacer {
  padding-top: 60px;
}

/* line 120, ../sass/_util.scss */
.bottomspacer {
  margin-bottom: 25px;
}

/* line 123, ../sass/_util.scss */
.vspacer {
  margin-top: 100px;
}

/* line 126, ../sass/_util.scss */
.vspacer2 {
  margin-top: 135px;
}

/* line 129, ../sass/_util.scss */
.clear {
  clear: both;
}

/* line 133, ../sass/_util.scss */
.circle {
  vertical-align: middle;
  display: inline-block;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  overflow: hidden;
}

/* line 142, ../sass/_util.scss */
.facebook {
  background: url(../img/facebook.png) no-repeat center center;
}

/* line 146, ../sass/_util.scss */
.facebook:hover {
  background: url(../img/facebook-hover.png) no-repeat center center;
}

/* line 151, ../sass/_util.scss */
.twitter {
  background: url(../img/twitter.png) no-repeat center center;
}

/* line 155, ../sass/_util.scss */
.twitter:hover {
  background: url(../img/twitter-hover.png) no-repeat center center;
}

/* line 159, ../sass/_util.scss */
.mail {
  background: url(../img/mail.png) no-repeat center center;
}

/* line 163, ../sass/_util.scss */
.mail:hover {
  background: url(../img/mail-hover.png) no-repeat center center;
}

/* line 168, ../sass/_util.scss */
.facebook-preload {
  display: none !important;
  background: url(../img/facebook-hover.png) no-repeat center center;
}

/* line 173, ../sass/_util.scss */
.twitter-preload {
  display: none !important;
  background: url(../img/twitter-hover.png) no-repeat center center;
}

/* line 177, ../sass/_util.scss */
.mail-preload {
  display: none !important;
  background: url(../img/mail-hover.png) no-repeat center center;
}

/* The ghost, nudged to maintain perfect centering */
/* line 185, ../sass/_util.scss */
.vcenter:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

/* line 192, ../sass/_util.scss */
.vcenter {
  display: inline-block;
  vertical-align: middle;
}

/* line 197, ../sass/_util.scss */
.centeralign {
  text-align: center;
}

/* line 200, ../sass/_util.scss */
.rigthtalign {
  text-align: right;
}

/* line 203, ../sass/_util.scss */
.centeralign-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 209, ../sass/_util.scss */
.heighthundred {
  height: 100px;
}

/* line 213, ../sass/_util.scss */
.hundredwidth {
  width: 100%;
}

/* line 218, ../sass/_util.scss */
.nodisplay {
  display: none;
}

/* line 222, ../sass/_util.scss */
.marginten {
  margin-right: 10px;
  margin-left: 10px;
}

/* line 228, ../sass/_util.scss */
.allwidth {
  width: 100%;
}

/* line 232, ../sass/_util.scss */
.bgdarkblue {
  background-color: #003366;
}

/* line 235, ../sass/_util.scss */
.bgaqua {
  background-color: #35a5b5;
}

/* line 239, ../sass/_util.scss */
.darkblue {
  color: #003366;
}

/* line 242, ../sass/_util.scss */
.lightblue {
  color: #81abb0;
}

/* line 245, ../sass/_util.scss */
.aqua {
  color: #35a5b5;
}

/* line 249, ../sass/_util.scss */
.lightgray {
  color: #e1e3e5;
}

/* line 252, ../sass/_util.scss */
.greenblue {
  color: #104952;
}

/* line 256, ../sass/_util.scss */
.white {
  color: white;
}

/* line 260, ../sass/_util.scss */
.fontthirtysix {
  font-size: 36pt;
}

/* line 263, ../sass/_util.scss */
.fonttwentyfour {
  font-size: 24pt;
}

/* line 266, ../sass/_util.scss */
.fonteighteen {
  font-size: 18px;
}

/* line 269, ../sass/_util.scss */
.seventeen {
  font-size: 17px;
}

/* line 272, ../sass/_util.scss */
.fontsixteen {
  font-size: 16px;
}

/* line 276, ../sass/_util.scss */
.pointer {
  cursor: pointer;
}

/* line 279, ../sass/_util.scss */
.vishidden {
  visibility: hidden;
}

/* line 283, ../sass/_util.scss */
.right-padding {
  padding-right: 20px;
}

/* line 287, ../sass/_util.scss */
.right-border .row-fluid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 290, ../sass/_util.scss */
.normalfont {
  font-weight: normal;
}

/* line 1, ../sass/_jquery.tagit.scss */
ul.tagit {
  padding: 1px 5px;
  overflow: auto;
  margin-left: inherit;
  /* usually we don't want the regular ul margins. */
  margin-right: inherit;
}

/* line 7, ../sass/_jquery.tagit.scss */
ul.tagit li {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}

/* line 12, ../sass/_jquery.tagit.scss */
ul.tagit li.tagit-choice {
  position: relative;
  line-height: inherit;
}

/* line 17, ../sass/_jquery.tagit.scss */
ul.tagit li.tagit-choice-read-only {
  padding: .2em .5em .2em .5em;
}

/* line 21, ../sass/_jquery.tagit.scss */
ul.tagit li.tagit-choice-editable {
  padding: .2em 18px .2em .5em;
}

/* line 25, ../sass/_jquery.tagit.scss */
ul.tagit li.tagit-new {
  padding: .25em 4px .25em 0;
}

/* line 29, ../sass/_jquery.tagit.scss */
ul.tagit li.tagit-choice a.tagit-label {
  cursor: pointer;
  text-decoration: none;
}

/* line 33, ../sass/_jquery.tagit.scss */
ul.tagit li.tagit-choice .tagit-close {
  cursor: pointer;
  position: absolute;
  right: .1em;
  top: 50%;
  margin-top: -8px;
  line-height: 17px;
}

/* used for some custom themes that don't need image icons */
/* line 43, ../sass/_jquery.tagit.scss */
ul.tagit li.tagit-choice .tagit-close .text-icon {
  display: none;
}

/* line 47, ../sass/_jquery.tagit.scss */
ul.tagit li.tagit-choice input {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}

/* line 52, ../sass/_jquery.tagit.scss */
ul.tagit input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  width: inherit;
  background-color: inherit;
  outline: none;
}

/* line 8, ../sass/comingsoon.scss */
h1 {
  width: 150%;
  margin-left: -3px !important;
  font-size: 55px !important;
  font-weight: normal !important;
}

/* line 16, ../sass/comingsoon.scss */
.largerfont {
  font-size: 16px;
}

/* line 20, ../sass/comingsoon.scss */
html, body {
  height: 100%;
  overflow-x: hidden;
  max-height: 900px;
}

/* line 26, ../sass/comingsoon.scss */
#comingsoon {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
  color: white;
  width: 100%;
  height: auto;
}
/* line 36, ../sass/comingsoon.scss */
#comingsoon hr {
  height: 0px;
  border: .1em dashed;
  color: #c5c6be;
}

@media only all and (max-width: 1440px) and (max-height: 1000px) {
  /* line 43, ../sass/comingsoon.scss */
  #comingsoon {
    background: url("../img/background.jpg") no-repeat;
    background-size: 1440px 1000px;
    -moz-background-size: 1440px 1000px;
  }
}
/* line 51, ../sass/comingsoon.scss */
#content {
  min-height: 1000px;
}

/* line 54, ../sass/comingsoon.scss */
.container {
  height: 100%;
  height: auto !important;
}

/* line 60, ../sass/comingsoon.scss */
.front-input {
  margin-bottom: 20px !important;
}

/* line 64, ../sass/comingsoon.scss */
input[type="radio"] {
  display: none;
}

/* line 69, ../sass/comingsoon.scss */
input[type="radio"] {
  display: none;
}

/* line 72, ../sass/comingsoon.scss */
input[type="radio"] + label {
  display: inline-block;
  width: 20px;
  height: 19px;
  background-color: white;
  cursor: pointer;
  vertical-align: middle;
  margin-bottom: 20px;
}

/* line 82, ../sass/comingsoon.scss */
input[type="radio"]:checked + label {
  background-repeat: no-repeat;
  background-position: center;
  background: white url(../img/green_checkmark.png) no-repeat center center;
  background-size: 80%;
}

/* line 90, ../sass/comingsoon.scss */
.greencheck_div, .greencheck_div_lessmargin {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 28px;
  height: 28px;
  z-index: 4;
}

/* line 99, ../sass/comingsoon.scss */
.greencheck_div_lessmargin {
  right: 6px !important;
}

/* line 104, ../sass/comingsoon.scss */
.greencheck_box {
  width: 28px;
  height: 28px;
}

/* line 109, ../sass/comingsoon.scss */
.greencheck_box_lessmargin {
  width: 27.9px;
  height: 27.9px;
}

/* line 115, ../sass/comingsoon.scss */
.playbtn {
  margin-left: -70px;
  margin-top: -16px;
  cursor: pointer;
  opacity: .5;
}

/* line 121, ../sass/comingsoon.scss */
.playbtn:hover {
  opacity: 1;
}

/* line 125, ../sass/comingsoon.scss */
#share_with_friends_block {
  display: none;
  height: 800px;
  background-color: rgba(78, 53, 57, 0.8);
  overflow: hidden;
}

/* line 132, ../sass/comingsoon.scss */
#footer-left {
  background: rgba(192, 187, 172, 0.9);
  height: 50px;
  display: inline-block;
}

/* line 139, ../sass/comingsoon.scss */
#footer-left p {
  float: right;
  text-align: right;
  margin-top: 16px;
  margin-right: 10px;
}

/* line 146, ../sass/comingsoon.scss */
#footer-right {
  height: 50px;
  display: inline-block;
  margin-left: -4px;
  background: rgba(184, 180, 163, 0.9);
}

/* line 153, ../sass/comingsoon.scss */
.blog {
  color: #359dad;
}

/* line 156, ../sass/comingsoon.scss */
.blog:hover {
  color: white !important;
  text-decoration: none !important;
}

/* line 161, ../sass/comingsoon.scss */
#socialicons {
  height: 50px;
  margin-left: 30px;
}

/* line 167, ../sass/comingsoon.scss */
#socialicons .circle {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

/* line 173, ../sass/comingsoon.scss */
.arrow-right {
  float: left;
  margin-top: 11px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #beb8a9;
}

/* line 183, ../sass/comingsoon.scss */
.copied {
  position: relative;
  top: -4px;
  margin-left: 10px;
  margin-right: 3px;
  display: none;
}
/* line 189, ../sass/comingsoon.scss */
.copied i {
  font-weight: bold;
  line-height: 40px;
  margin-right: 3px;
}

/* line 196, ../sass/comingsoon.scss */
.copy-button {
  position: absolute;
  right: 1px;
  top: 1px;
  height: 28px;
  z-index: 4;
}

/* line 204, ../sass/comingsoon.scss */
.smalltext {
  font-size: 12px;
}

/* line 208, ../sass/comingsoon.scss */
.inline {
  display: inline;
}

/* line 212, ../sass/comingsoon.scss */
.loading {
  display: none;
}

/* line 216, ../sass/comingsoon.scss */
#invitebynetwork {
  min-height: 160px;
}

/* line 220, ../sass/comingsoon.scss */
#invitebyemail {
  display: none;
  min-height: 160px;
}

/* line 225, ../sass/comingsoon.scss */
#sharerow {
  min-height: 280px;
}

/* line 229, ../sass/comingsoon.scss */
textarea {
  resize: none;
  overflow: hidden;
}

/* line 235, ../sass/comingsoon.scss */
.sharebtns a {
  color: white;
  opacity: .5;
}

/* line 239, ../sass/comingsoon.scss */
.sharebtns a.active-share {
  opacity: 1;
}

/* line 244, ../sass/comingsoon.scss */
.sharebtns a:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}

/* line 250, ../sass/comingsoon.scss */
.margintop {
  margin-top: 10px;
}

/* line 254, ../sass/comingsoon.scss */
#notharmed {
  position: absolute;
  top: 915px;
  left: 780px;
  font-size: 12px;
}

/* line 262, ../sass/comingsoon.scss */
#twittercount {
  color: #2f96b4;
}

/* line 268, ../sass/comingsoon.scss */
button p {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0px;
}
/* line 274, ../sass/comingsoon.scss */
button b {
  line-height: 29px;
}

/* line 279, ../sass/comingsoon.scss */
textarea {
  box-sizing: border-box;
  width: 100% !important;
  padding: 4px !important;
}

/* line 286, ../sass/comingsoon.scss */
a {
  color: #35a5b5 !important;
}

/* line 289, ../sass/comingsoon.scss */
a:hover {
  color: white !important;
}

/* line 294, ../sass/comingsoon.scss */
#thanksforemail {
  line-height: 30px;
  vertical-align: middle;
  font-size: 18px;
}

/* line 300, ../sass/comingsoon.scss */
#email_suggestion {
  display: none;
  margin-top: -10px;
  margin-bottom: 20px;
}
