@font-face {
  font-family: "marketo";
  src: url(/static/css/fonts/marketotbold.eot);
  src: url(/static/css/fonts/marketotbold.eot?#iefix) format('eot'), url(/static/css/fonts/marketotbold.woff) format('woff'), url(/static/css/fonts/marketotbold.ttf) format('truetype'), url(/static/css/fonts/marketotbold.svg) format('svg');
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_reg-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_reg-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_reg-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_reg-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_reg-webfont.svg) format('svg');
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_bold-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_bold-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_bold-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_bold-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_bold-webfont.svg) format('svg');
  font-weight: bold;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_reg_it-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_reg_it-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_reg_it-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_reg_it-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_reg_it-webfont.svg) format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_bold_it-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_bold_it-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_bold_it-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_bold_it-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_bold_it-webfont.svg) format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova SBold";
  src: url(/static/css/fonts/proxima_nova_sbold-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_sbold-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_sbold-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_sbold-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_sbold-webfont.svg) format('svg');
}

@font-face {
  font-family: "Proxima Nova SBold";
  src: url(/static/css/fonts/proxima_nova_sbold_it-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_sbold_it-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_sbold_it-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_sbold_it-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_sbold_it-webfont.svg) format('svg');
  font-weight: normal;
  font-style: italic;
}

/* line 57, ../sass/comingsoon.scss */
backgroundTransition, .facebook:hover, .twitter:hover, .mail:hover {
  -webkit-transition: background 300ms ease-in;
  -moz-transition: background 300ms ease-in;
  -o-transition: background 300ms ease-in;
  transition: background 300ms ease-in;
}

/* line 64, ../sass/comingsoon.scss */
h1, p, button, div, #notharmed {
  font-family: 'Proxima Nova', sans-serif !important;
}

/* line 71, ../sass/comingsoon.scss */
.semi-bold {
  font-family: 'Proxima Nova SBold', sans-serif !important;
}

/* line 75, ../sass/comingsoon.scss */
h1 {
  width: 150%;
  margin-left: -3px !important;
  font-size: 55px !important;
  font-weight: normal !important;
}

/* line 83, ../sass/comingsoon.scss */
.largerfont {
  font-size: 16px;
}

/* line 86, ../sass/comingsoon.scss */
.seventeen {
  font-size: 17px;
}

/* line 96, ../sass/comingsoon.scss */
button b {
  line-height: 29px;
}

/* line 106, ../sass/comingsoon.scss */
html, body {
  height: 100%;
  overflow-x: hidden;
}

/* line 111, ../sass/comingsoon.scss */
#comingsoon {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
  color: white;
  width: 100%;
  height: auto;
}
/* line 121, ../sass/comingsoon.scss */
#comingsoon hr {
  height: 0px;
  border: .1em dashed;
  color: #c5c6be;
}

@media only all and (max-width: 1440px) and (max-height: 1000px) {
  /* line 128, ../sass/comingsoon.scss */
  #comingsoon {
    background: url("../img/background.jpg") no-repeat;
    background-size: 1440px 1000px;
    -moz-background-size: 1440px 1000px;
  }
}
/* line 136, ../sass/comingsoon.scss */
.halfvspacer {
  padding-top: 20px;
}

/* line 139, ../sass/comingsoon.scss */
.fullvspacer {
  padding-top: 60px;
}

/* line 142, ../sass/comingsoon.scss */
.bottomspacer {
  margin-bottom: 25px;
}

/* line 147, ../sass/comingsoon.scss */
.vspacer {
  margin-top: 100px;
}

/* line 150, ../sass/comingsoon.scss */
.vspacer2 {
  margin-top: 135px;
}

/* line 154, ../sass/comingsoon.scss */
#content {
  min-height: 1000px;
}

/* line 157, ../sass/comingsoon.scss */
.container {
  height: 100%;
  height: auto !important;
}

/* line 162, ../sass/comingsoon.scss */
.clear {
  clear: both;
}

/* line 166, ../sass/comingsoon.scss */
.front-input {
  margin-bottom: 20px !important;
}

/* line 170, ../sass/comingsoon.scss */
input[type="radio"] {
  display: none;
}

/* line 175, ../sass/comingsoon.scss */
input[type="radio"] {
  display: none;
}

/* line 178, ../sass/comingsoon.scss */
input[type="radio"] + label {
  display: inline-block;
  width: 20px;
  height: 19px;
  background-color: white;
  cursor: pointer;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 20px;
}

/* line 189, ../sass/comingsoon.scss */
input[type="radio"]:checked + label {
  background-repeat: no-repeat;
  background-position: center;
  background: white url(../img/green_checkmark.png) no-repeat center center;
}

/* line 195, ../sass/comingsoon.scss */
.greencheck_box {
  margin-left: -30px;
  margin-top: -20px;
  width: 28px;
  vertical-align: middle;
}

/* line 203, ../sass/comingsoon.scss */
.greencheck_box_lessmargin {
  margin-left: -29px;
  margin-top: -10px;
  width: 28px;
  vertical-align: middle;
}

/* line 213, ../sass/comingsoon.scss */
.playbtn {
  margin-left: -70px;
  margin-top: -16px;
  cursor: pointer;
  opacity: .5;
}

/* line 219, ../sass/comingsoon.scss */
.playbtn:hover {
  opacity: 1;
}

/* line 223, ../sass/comingsoon.scss */
#share_with_friends_block {
  display: none;
  height: 800px;
  background-color: #4E3539;
  overflow: hidden;
}

/* line 230, ../sass/comingsoon.scss */
#footer-left {
  background: rgba(255, 255, 255, 0.3);
  height: 50px;
  display: inline-block;
}

/* line 237, ../sass/comingsoon.scss */
#footer-left p {
  float: right;
  text-align: right;
  margin-top: 16px;
  margin-right: 10px;
}

/* line 244, ../sass/comingsoon.scss */
#footer-right {
  height: 50px;
  display: inline-block;
  margin-left: -4px;
  background: rgba(184, 180, 163, 0.9);
}

/* line 251, ../sass/comingsoon.scss */
.blog {
  color: #359dad;
}

/* line 254, ../sass/comingsoon.scss */
.blog:hover {
  color: white;
  text-decoration: none !important;
}

/* line 259, ../sass/comingsoon.scss */
#socialicons {
  height: 50px;
  margin-left: 30px;
}

/* line 264, ../sass/comingsoon.scss */
#socialicons .circle {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  overflow: hidden;
}

/* line 273, ../sass/comingsoon.scss */
.facebook {
  background: url(../img/facebook.png) no-repeat center center;
}

/* line 277, ../sass/comingsoon.scss */
.facebook:hover {
  background: url(../img/facebook-hover.png) no-repeat center center;
}

/* line 282, ../sass/comingsoon.scss */
.twitter {
  background: url(../img/twitter.png) no-repeat center center;
}

/* line 286, ../sass/comingsoon.scss */
.twitter:hover {
  background: url(../img/twitter-hover.png) no-repeat center center;
}

/* line 290, ../sass/comingsoon.scss */
.mail {
  background: url(../img/mail.png) no-repeat center center;
}

/* line 294, ../sass/comingsoon.scss */
.mail:hover {
  background: url(../img/mail-hover.png) no-repeat center center;
}

/* line 303, ../sass/comingsoon.scss */
.arrow-right {
  float: left;
  margin-top: 11px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid rgba(255, 255, 255, 0.2);
}

/* line 313, ../sass/comingsoon.scss */
.copied {
  position: relative;
  top: -4px;
  margin-left: 10px;
  margin-right: 3px;
  display: none;
}
/* line 319, ../sass/comingsoon.scss */
.copied i {
  font-weight: bold;
  width: 50px;
  margin-right: 3px;
}

/* line 326, ../sass/comingsoon.scss */
.copy-button {
  margin-left: -43px;
  margin-top: -9px;
  width: 42px;
}

/* line 332, ../sass/comingsoon.scss */
.smalltext {
  font-size: 12px;
}

/* line 336, ../sass/comingsoon.scss */
.inline {
  display: inline;
}

/* line 340, ../sass/comingsoon.scss */
.idcode {
  width: 350px !important;
}

/* line 345, ../sass/comingsoon.scss */
.loading {
  display: none;
}

/* line 349, ../sass/comingsoon.scss */
#invitebynetwork {
  min-height: 180px;
}

/* line 353, ../sass/comingsoon.scss */
#invitebyemail {
  display: none;
  min-height: 180px;
}

/* line 358, ../sass/comingsoon.scss */
#sharerow {
  min-height: 260px;
}

/* line 362, ../sass/comingsoon.scss */
textarea {
  resize: none;
  overflow: hidden;
  width: 420px !important;
}

/* line 368, ../sass/comingsoon.scss */
.sharebtns a {
  color: white;
  opacity: .5;
}

/* line 372, ../sass/comingsoon.scss */
.sharebtns a.active-share {
  opacity: 1;
}

/* line 377, ../sass/comingsoon.scss */
.sharebtns a:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}

/* line 383, ../sass/comingsoon.scss */
.margintop {
  margin-top: 10px;
}

/* line 387, ../sass/comingsoon.scss */
#notharmed {
  position: absolute;
  top: 915px;
  left: 780px;
  font-size: 12px;
}
