/* line 1, ../sass/howitworks.scss */
.rel {
  position: relative;
}

/* line 4, ../sass/howitworks.scss */
#howitworks {
  background: #edeff2;
}

/* line 8, ../sass/howitworks.scss */
#wheneverwant, #youcantrust {
  position: absolute;
}

/* line 11, ../sass/howitworks.scss */
#wheneverwant {
  top: -50px;
}

/* line 14, ../sass/howitworks.scss */
#youcantrust {
  top: 30px;
  left: 30px;
}

/* line 20, ../sass/howitworks.scss */
.hundredwidth {
  width: 100%;
}

/* line 24, ../sass/howitworks.scss */
#topcontainer .container {
  padding-right: 20px;
}

/* line 27, ../sass/howitworks.scss */
#topcontainer-content {
  padding-right: 20px;
  background: white;
  border-color: #3fb0bd !important;
  border-right: 5px solid;
  border-left: 5px solid;
  border-top: 5px solid;
}

/* line 36, ../sass/howitworks.scss */
#bottomcontainer {
  padding-right: 20px;
  border-color: #e8ebed !important;
  border-right: 5px solid;
  border-left: 5px solid;
  border-bottom: 5px solid;
  background: white;
}

/* line 46, ../sass/howitworks.scss */
.header {
  height: 100px;
  line-height: 100px;
}

/* line 52, ../sass/howitworks.scss */
.simple {
  color: #3fb0bd;
  font-weight: normal;
}

/* line 56, ../sass/howitworks.scss */
.weexist {
  color: #003366;
}

/* line 59, ../sass/howitworks.scss */
hr {
  margin-left: 20px !important;
  height: 0px;
  border: .1em dashed !important;
  color: #c5c6be !important;
  opacity: .5;
}

/* line 67, ../sass/howitworks.scss */
h4 {
  color: #104952 !important;
}

/* line 71, ../sass/howitworks.scss */
.helpus {
  color: #003366;
  text-align: center;
  font-size: 24px;
}
