/* line 1, ../sass/howitworks.scss */
.rel {
  position: relative;
}

/* line 4, ../sass/howitworks.scss */
#howitworks {
  background: #edeff2;
  color: #616161;
}

/* line 9, ../sass/howitworks.scss */
#wheneverwant, #youcantrust {
  position: absolute;
}

/* line 12, ../sass/howitworks.scss */
#wheneverwant {
  top: -50px;
  left: 10px;
}

/* line 16, ../sass/howitworks.scss */
#youcantrust {
  top: 36px;
  left: 43px;
}

/* line 22, ../sass/howitworks.scss */
.hundredwidth {
  width: 100%;
}

/* line 26, ../sass/howitworks.scss */
#topcontainer .container {
  padding-right: 20px;
}

/* line 29, ../sass/howitworks.scss */
#topcontainer-content {
  padding-right: 20px;
  background: white;
  border-color: #3fb0bd !important;
  border-right: 5px solid;
  border-left: 5px solid;
  border-top: 5px solid;
}

/* line 38, ../sass/howitworks.scss */
#bottomcontainer {
  padding-right: 20px;
  border-color: #e8ebed !important;
  border-right: 5px solid;
  border-left: 5px solid;
  border-bottom: 5px solid;
  background: white;
}

/* line 48, ../sass/howitworks.scss */
.header {
  height: 100px;
  line-height: 100px;
}

/* line 54, ../sass/howitworks.scss */
.simple {
  color: #3fb0bd;
  font-weight: normal;
}

/* line 58, ../sass/howitworks.scss */
.weexist {
  font-size: 36px;
  color: #104952;
}

/* line 62, ../sass/howitworks.scss */
hr {
  margin-left: 20px !important;
  height: 0px;
  border: .1em dashed !important;
  color: #c5c6be !important;
  opacity: .5;
}

/* line 70, ../sass/howitworks.scss */
.icontext {
  color: #104952;
  font-size: 24pt;
}

/* line 78, ../sass/howitworks.scss */
h4 {
  color: #104952 !important;
}

/* line 82, ../sass/howitworks.scss */
.helpus {
  color: #003366;
  text-align: center;
  font-size: 24px;
}
