@font-face {
  font-family: "marketo";
  src: url(/static/css/fonts/marketotbold.eot);
  src: url(/static/css/fonts/marketotbold.eot?#iefix) format('eot'), url(/static/css/fonts/marketotbold.woff) format('woff'), url(/static/css/fonts/marketotbold.ttf) format('truetype'), url(/static/css/fonts/marketotbold.svg) format('svg');
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_reg-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_reg-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_reg-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_reg-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_reg-webfont.svg) format('svg');
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_bold-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_bold-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_bold-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_bold-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_bold-webfont.svg) format('svg');
  font-weight: bold;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_reg_it-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_reg_it-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_reg_it-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_reg_it-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_reg_it-webfont.svg) format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/static/css/fonts/proxima_nova_bold_it-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_bold_it-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_bold_it-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_bold_it-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_bold_it-webfont.svg) format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova SBold";
  src: url(/static/css/fonts/proxima_nova_sbold-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_sbold-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_sbold-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_sbold-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_sbold-webfont.svg) format('svg');
}

@font-face {
  font-family: "Proxima Nova SBold";
  src: url(/static/css/fonts/proxima_nova_sbold_it-webfont.eot);
  src: url(/static/css/fonts/proxima_nova_sbold_it-webfont.eot?#iefix) format('eot'), url(/static/css/fonts/proxima_nova_sbold_it-webfont.woff) format('woff'), url(/static/css/fonts/proxima_nova_sbold_it-webfont.ttf) format('truetype'), url(/static/css/fonts/proxima_nova_sbold_it-webfont.svg) format('svg');
  font-weight: normal;
  font-style: italic;
}

/* line 57, ../sass/sitterfied.scss */
::-webkit-input-placeholder {
  font-family: 'Proxima Nova', sans-serif !important;
}

/* line 60, ../sass/sitterfied.scss */
::-moz-placeholder {
  font-family: 'Proxima Nova', sans-serif !important;
}

/* firefox 19+ */
/* line 63, ../sass/sitterfied.scss */
:-ms-input-placeholder {
  font-family: 'Proxima Nova', sans-serif !important;
}

/* ie */
/* line 66, ../sass/sitterfied.scss */
input:-moz-placeholder {
  font-family: 'Proxima Nova', sans-serif !important;
}

/* line 70, ../sass/sitterfied.scss */
backgroundTransition, .facebook:hover, .twitter:hover, .mail:hover {
  -webkit-transition: background 300ms ease-in;
  -moz-transition: background 300ms ease-in;
  -o-transition: background 300ms ease-in;
  transition: background 300ms ease-in;
}

/* line 76, ../sass/sitterfied.scss */
p, .header, button, div {
  font-family: 'Proxima Nova', sans-serif !important;
}

/* line 79, ../sass/sitterfied.scss */
.cursive {
  font-family: 'marketo', sans-serif !important;
}

/* line 83, ../sass/sitterfied.scss */
.cursive {
  font-size: 22px;
  color: #3fb0bd;
}

/* line 89, ../sass/sitterfied.scss */
.semi-bold {
  font-family: 'Proxima Nova SBold', sans-serif !important;
}

/* line 92, ../sass/sitterfied.scss */
.seventeen {
  font-size: 17px;
}

/* line 95, ../sass/sitterfied.scss */
button p {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 0px;
}

/* line 104, ../sass/sitterfied.scss */
.header {
  color: white;
}

/* line 112, ../sass/sitterfied.scss */
button b {
  line-height: 29px;
}

/* line 119, ../sass/sitterfied.scss */
.halfvspacer {
  padding-top: 20px;
}

/* line 122, ../sass/sitterfied.scss */
.quartervspacer {
  padding-top: 16px;
}

/* line 125, ../sass/sitterfied.scss */
.fullvspacer {
  padding-top: 60px;
}

/* line 128, ../sass/sitterfied.scss */
.bottomspacer {
  margin-bottom: 25px;
}

/* line 131, ../sass/sitterfied.scss */
.vspacer {
  margin-top: 100px;
}

/* line 134, ../sass/sitterfied.scss */
.vspacer2 {
  margin-top: 135px;
}

/* line 137, ../sass/sitterfied.scss */
.clear {
  clear: both;
}

/* line 140, ../sass/sitterfied.scss */
.facebook {
  background: url(../img/facebook.png) no-repeat center center;
}

/* line 144, ../sass/sitterfied.scss */
.facebook:hover {
  background: url(../img/facebook-hover.png) no-repeat center center;
}

/* line 149, ../sass/sitterfied.scss */
.twitter {
  background: url(../img/twitter.png) no-repeat center center;
}

/* line 153, ../sass/sitterfied.scss */
.twitter:hover {
  background: url(../img/twitter-hover.png) no-repeat center center;
}

/* line 157, ../sass/sitterfied.scss */
.mail {
  background: url(../img/mail.png) no-repeat center center;
}

/* line 161, ../sass/sitterfied.scss */
.mail:hover {
  background: url(../img/mail-hover.png) no-repeat center center;
}

/* line 166, ../sass/sitterfied.scss */
.facebook-preload {
  display: none !important;
  background: url(../img/facebook-hover.png) no-repeat center center;
}

/* line 171, ../sass/sitterfied.scss */
.twitter-preload {
  display: none !important;
  background: url(../img/twitter-hover.png) no-repeat center center;
}

/* line 175, ../sass/sitterfied.scss */
.mail-preload {
  display: none !important;
  background: url(../img/mail-hover.png) no-repeat center center;
}

/* The ghost, nudged to maintain perfect centering */
/* line 184, ../sass/sitterfied.scss */
.vcenter:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

/* line 191, ../sass/sitterfied.scss */
.vcenter {
  display: inline-block;
  vertical-align: middle;
}

/* line 196, ../sass/sitterfied.scss */
.heighthundred {
  height: 100px;
}

/* line 200, ../sass/sitterfied.scss */
.centeralign {
  text-align: center;
}

/* line 203, ../sass/sitterfied.scss */
.centeralign-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 209, ../sass/sitterfied.scss */
#topcontainer {
  background: url(../img/backgroundtile.png) repeat;
}

/* line 213, ../sass/sitterfied.scss */
.nodisplay {
  display: none;
}

/* line 217, ../sass/sitterfied.scss */
.marginten {
  margin-right: 10px;
  margin-left: 10px;
}
