<!-- container -->
<div class="container clear">
  <div class="wraper">

	<!-- tabs_wrap -->
	<div class="tabs_wrap">
	  <ul class="tab_select">
		<li>{{#linkTo sitterEdit.profile content }}Profile{{/linkTo}}</li>
		<li>{{#linkTo sitterEdit.schedule content }}Schedule{{/linkTo}}</li>
		<li>{{#linkTo mybookings }}Bookings{{/linkTo}}</li>
		<li>{{#linkTo sitterEdit.network content }}Network{{/linkTo}}</li>
		<li>{{#linkTo sitterEdit.reviews content }}Reviews{{/linkTo}}</li>
	  </ul>


      {{outlet}}

	</div>
	<!-- /tabs_wrap -->

  </div>
</div>
<!-- /container -->